<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Si Office</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="card m-4 p-4 bg-light rounded text-center justify-content-center">
        <br>
        <br>
        <h2 th:text="${msg}"></h2>
        <br>
        <br>
        <div>
            <a th:href="@{/cuti}" class="btn btn-primary">Kembali ke daftar riwayat cuti</a>
        </div>
        <h1 th:text = ${durasi}></h1>
    </div>
</div>

</body>

</html>