<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Si Office</title>
    <meta charset="UTF-8">
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <object th:include="fragments/status-box :: css-status-box" th:remove="tag"></object>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <link rel="stylesheet" th:href="@{/css/status-box.css}"/>
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body style="background-color: #FAFAFA">
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div>
        </div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                Profil Saya
                                <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="mainContent">
            <div class="boxContent">
                <div class="headSection">
                    <h2 class="pageTitle" th:text="${nodin.perihal}"></h2>
                    <div class="subtitle" th:inline="text">
                        <span class="subtitleProfile" th:text="'Nomor Surat: OPS/' + ${nodin.nomor} + '/OGN.Jkt-2022'"></span>
                        <br>
                        <span class="subtitleProfile" th:text="'Diajukan pada tanggal ' +${tanggal}"></span>
                        <span class="subtitleProfile" th:text="oleh "></span>
                        <span class="profileData" th:onclick="'clickDirect(&quot' + @{/datakaryawan/view/} + ${nodin.pengguna.id} +'&quot)'" th:text="${nodin.pengguna.nama_depan} + ' ' + ${nodin.pengguna.nama_belakang} + ', ' + ${nodin.pengguna.jabatan}"></span>
                    </div>
                </div>
                <form autocomplete="off" th:action="@{/notadinas/disposisi/{status}(status=${currentStatus})}" th:object="${nodin}" method="post">
                    <div class="detailContainer">
                        <input type="hidden" th:field="*{nomor}" />
                        <input type="hidden" th:field="*{pengguna}" />
                        <input type="hidden" th:field="*{perihal}" />
                        <input type="hidden" th:field="*{tanggalPengajuan}" />
                        <input type="hidden" th:field="*{tanggalPersetujuanManajer}" />
                        <div class="rowItem">
                            <label>Menindaklanjuti</label>
                            <textarea type="text" readonly class="form-control-plaintext" th:field="*{pembuka}"></textarea>
                        </div>
                        <div class="rowItem">
                            <label>Dengan surat ini kami hendak menyampaikan</label>
                            <textarea type="text" readonly class="form-control-plaintext" th:field="*{inti}"></textarea>
                        </div>
                        <br>
                        <div class="rowItem">
                            <label>Catatan Disposisi Nota Dinas:</label>
                            <textarea class="form-control" type="text" th:field="*{disposisi}"></textarea>
                        </div>
                        <p class="text-secondary">Pastikan Anda mengisikan dengan benar karena tidak bisa diubah</p>
                        <div class="rowItem text-end">
                            <a class="btn btn-outline-secondary" th:href="@{/notadinas/detail/{nomor}(nomor=${nodin.nomor})}">Batal</a>
                            <button class="btn btn-primary" style="color: white; background-color: #0136FE; font-weight: bold" type="submit">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--Creating a textarea with auto-resize-->
<script>
    $("textarea").each(function () {
        this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
    }).on("input", function () {
        this.style.height = "auto";
        this.style.height = (this.scrollHeight) + "px";
    });
</script>
</body>
</html>