<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Vendor</title>
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/sidenavbar :: navbar"></div>
<div class="card text-center">
    <div class="card-body">
        <h2 class="card-title" th:text="'Vendor dengan id: '+ ${id} + ' berhasil diupdate!'"></h2>
        <a th:href="@{/vendor/view/} + ${id}" class="btn btn-info">Kembali</a>
    </div>
</div>
</body>
</html>