<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Si Office</title>
    <meta charset="UTF-8">
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <object th:include="fragments/status-box :: css-status-box" th:remove="tag"></object>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <link rel="stylesheet" th:href="@{/css/status-box.css}"/>
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body style="background-color: #FAFAFA">
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div>
        </div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                Profil Saya
                                <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="mainContent">
            <div class="boxContent">
                <div class="headSection">
                    <h2 class="pageTitle">Buat Nota Dinas</h2>
                </div>
                <form autocomplete="off" th:action="@{/notadinas/add}" th:object="${nodin}" method="post">
                    <div class="detailContainer">
                        <div>
                            <label>Kategori Surat</label>
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col form-check">
                                        <input class="form-check-input" type="radio" name="jenis" value="Permohonan Persetujuan" id="permohonanPersetujuan">
                                        <label class="form-check-label" for="permohonanPersetujuan">
                                            Permohonan Persetujuan
                                        </label>
                                    </div>
                                    <div class="col form-check">
                                        <input class="form-check-input a" type="radio" name="jenis" value="Permohonan Uang Muka" id="permohonanDP">
                                        <label class="form-check-label" for="permohonanDP">
                                            Permohonan Uang Muka
                                        </label>
                                    </div>
                                    <div class="col form-check">
                                        <input class="form-check-input a" type="radio" name="jenis" value="Pertanggungjawaban Uang Muka" id="pertanggungjawabanDP">
                                        <label class="form-check-label" for="pertanggungjawabanDP">
                                            Pertanggungjawaban Uang Muka
                                        </label>
                                    </div>
                                    <div class="col form-check">
                                        <input class="form-check-input a" type="radio" name="jenis" value="Template Kosong" id="kosong">
                                        <label class="form-check-label" for="kosong">
                                            Template Kosong
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{nomor}" />
                        <input type="hidden" th:field="*{pengguna}" />
                        <div class="rowItem">
                            <label>Perihal *</label>
                            <input required class="form-control" type="text" maxlength="200" th:field="*{perihal}" id="perihal"/>
                        </div>
                        <div class="rowItem">
                            <label>Menindaklanjuti *</label>
                            <textarea required class="form-control" type="text" th:field="*{pembuka}" id="pembuka"></textarea>
                        </div>
                        <div class="rowItem">
                            <label>Dengan surat ini kami hendak menyampaikan *</label>
                            <textarea required class="form-control" type="text" th:field="*{inti}" id="inti"></textarea>
                        </div>
                        <br>
                        <p class="text-secondary">*kolom isian tidak boleh dikosongkan</p>
                        <div class="rowItem text-end">
                            <a class="btn btn-outline-secondary" href="/notadinas">Batal</a>
                            <button class="btn btn-primary" style="color: white; background-color: #0136FE; font-weight: bold" type="submit">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("textarea").each(function () {
        this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
    }).on("input", function () {
        this.style.height = "auto";
        this.style.height = (this.scrollHeight) + "px";
    });

    $('#permohonanPersetujuan').click(function() {
        $('#perihal').val('Permohonan persetujuan biaya operasional permakanan event Pelindo Group periode 5 s.d. 14 Februari 2022');
        $('#pembuka').val('kebutuhan dana untuk pelaksanaan beberapa event Pelindo Group');
        $('#inti').val('permohonan persetujuan penambahan sebesar saldo kas event sebesar Rp200.000.000,00 (dua ratus juta rupiah)');
        $("textarea").trigger("input");
    });

    $('#permohonanDP').click(function() {
        $('#perihal').val('Permohonan uang muka biaya operasional permakanan event Pelindo Group periode 5 s.d. 14 Februari 2022');
        $('#pembuka').val('a. Kebutuhan dana untuk pelaksanaan beberapa event Pelindo Group\n' +
            'b. Nota dinas nomor Ops/ / /OGN.Jkt-2022 tanggal 2 Februari perihal permohonan persetujuan biaya operasional permakanan event Pelindo Group periode 5 s.d. 14 februari 2022');
        $('#inti').val('Permohonan uang muka biaya operasional permakanan event Pelindo Group 5 s.d. 14 Februari 2022 sebesar Rp200.000.000,00 (dua ratus juta rupiah)');
        $("textarea").trigger("input");
    });

    $('#pertanggungjawabanDP').click(function() {
        $('#perihal').val('Pertanggungjawaban uang muka biaya operasional permakanan event Pelindo Group periode 5 s.d. 14 Februari 2022');
        $('#pembuka').val('a. Nota dinas nomor Ops/ / /OGN.Jkt-2022 perihal permohonan persetujuan biaya operasional permakanan event Pelindo Group periode 5 s.d. 14 Februari 2022\n' +
            'b. Nota dinas nomor Ops/ / /OGN.Jkt-2022 perihal permohonan uang muka biaya operasional permakanan event Pelindo Group periode 5 s.d. 14 Februari 2022');
        $('#inti').val('a. pertanggungjawaban uang muka biaya operasional permakanan event Pelindo Group periode 5 s.d. 14 Februari 2022 sebesar Rp200.000.000,00 (dua ratus juta rupiah)\n' +
            'b. uang muka terpakai sebesar Rp41.323.600,00 (empat puluh satu juta tiga ratus dua puluh tiga ribu enam ratus rupiah)\n' +
            'c. sisa uang muka sebesar Rp158.676.400,00 (seratus lima puluh delapan juta enam ratus tujuh puluh enam ribu empat ratus rupiah)');
        $("textarea").trigger("input");
    });

    $('#kosong').click(function() {
        $('#perihal').val('');
        $('#pembuka').val('');
        $('#inti').val('');
        $("textarea").trigger("input");
    });
</script>
</body>
</html>