<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buat Berita & Informasi</title>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/beritaCSS.css}">
    <object th:include="fragments/status-box.html :: css-status-box" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
</head>
<body>
    <div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Home
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Data Karyawan</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Data Vendor</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Data Rekanan</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Arsip Surat Masuk</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Arsip Surat Keluar</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Arsip Nota Dinas</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Arsip Nota Dinas</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Pengajuan Cuti</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/berita}">
                <box-icon name='news' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                Berita & Informasi</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Regulasi</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                FAQ</a>
            <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                Keluar</a>
            </div>
        </div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                    Profil Saya
                                    <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="mainContent">
            <div class="boxContent">
                <div class="headSection">
                    <h2 class="pageTitle">Buat Berita & Informasi</h2>
                </div>
                <form autocomplete="off" th:action="@{/berita/buat}" th:object="${berita}" method="post">
                    <div class="detailContainer">
                        <!--    <p class="default" style="opacity: 0;">Pengajuan Cuti Tahunan minimal 1 bulan sebelum pengambilan cuti</p>-->
                        <div class="rowItem" id="first">
                            <label>Judul Berita & informasi</label>
                            <div class="inputdate">
                                <input autocomplete="off" required class="form-control" type="text" name="judul" th:value="*{judul}" placeholder="Ketik judul berita Anda">
                            </div>
                        </div>
                        <div class="rowItem">
                            <label>Isi Berita & Informasi</label>
                            <textarea required class="form-control alasan" name="isi" th:value="*{isi}" placeholder="Ketik isi berita Anda"></textarea>
                        </div>
                        <div class="d-flex justify-content-end rowItem">
                            <button class="btn btn-primary ajukan" style="background: #0136FE;" type="submit">Post Berita</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>