<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Rekanan</title>
    <object th:include="fragments/button :: css"></object>
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <link th:replace="fragments/submit-form :: css-submit-form">
    <link th:replace="fragments/status-box :: css-status-box">
    <link rel="stylesheet" th:href="@{/css/tablepill.css}">
</head>

<body class="content">
    <div th:fragment="sidenavbar" class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading bg-light">
                <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
            </div>
            <div class="list-group list-group-flush">
                <div>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0"  th:href="@{/}">
                        <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Home
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                        <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Data Karyawan</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                        <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Data Vendor</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/rekanan}">
                        <box-icon name='buildings' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                        Data Rekanan</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Surat Masuk</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Surat Keluar</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Nota Dinas</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Nota Dinas</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                        <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Pengajuan Cuti</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                        <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Berita & Informasi</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                        <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Regulasi</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                        <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        FAQ</a>
                    <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                        <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                        Keluar</a>
                </div>
            </div>
        </nav>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>
                            <li class="navbar-nav pull-right">
                                <a
                                        class="nav-item nav-link active" style="color: red;" th:href="@{/logout}" onclick="return confirm('Apakah anda yakin ingin keluar ?')">Keluar</a>
                                <a
                                        class="nav-item nav-link active" style="color: black;" th:href="@{/pengguna/profil}">Lihat Profil
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <form th:action="@{/rekanan/edit}"  class="headSection" method="post" enctype="multipart/form-data"}>
                <div class="row align-items-center">
                    <div class="col-auto mr-auto">
                        <h1 class="pageTitle">Edit Data Rekanan</h1>
                    </div>
                    <div class="card mt-4 border-light d-flex shadow bg-white rounded">
                        <div class="card-body">
                            <input hidden name="idRekanan" th:field="${rekanan.idRekanan}">
                            <div class="form-group">
                                <label class="font-label">Nama Rekanan</label>
                                <input class="form-control" placeholder="Nama Perusahaan Rekanan" required name="nama_rekanan" id="nama_rekanan" th:field="${rekanan.nama_rekanan}">
                            </div>
                            <div class="form-group">
                                <label class="font-label">Alamat</label>
                                <input class="form-control" placeholder="Alamat rekanan" required name="alamat" id="alamat" th:field="${rekanan.alamat}">
                            </div>
                            <div class="form-group">
                                <label class="font-label">No Telp Rekanan</label>
                                <input class="form-control" placeholder="Nomor Telp Rekanan" required name="telp" id="telp" th:field="${rekanan.telp}">
                            </div>
                            <div class="form-group">
                                <label class="font-label">Profil Rekanan</label>
                                <input class="form-control" placeholder="Profil Rekanan" required name="profil_rekanan" id="profil_rekanan" th:field="${rekanan.profil_rekanan}">
                            </div>
                            <div class="form-group">
                                <label class="font-label">Upload Logo Rekanan</label>
                                <input type="file" class="form-control-file" name="logorekanan" accept="image/jpeg , image/png " id="file">
                                <p class="font-P2">Format file adalah .jpeg atau .png</p>
                            </div>
                            <div class="rowItem text-end">
                                <a class="btn btn-outline-secondary" href="/rekanan">Batal</a>
                                <button class="btn btn-primary" type="submit">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>