<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajukan Cuti</title>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <object th:include="fragments/status-box.html :: css-status-box" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <style>
        .markholiday{
            color:red;
        }
    </style>
</head>
<body>
    <div th:fragment="sidenavbar" class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><img src="/img/logo.jpeg" alt="Orchid" style="width:175px"></div>
            <div class="list-group list-group-flush">
                <div>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                        <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Home
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                        <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Data Karyawan</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                        <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Data Vendor</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                        <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Data Rekanan</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Surat Masuk</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Surat Keluar</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Nota Dinas</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Nota Dinas</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0"   id="aktif" th:href="@{/cuti}">
                        <box-icon name='calendar' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                        Pengajuan Cuti</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                        <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Berita & Informasi</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                        <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Regulasi</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                        <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        FAQ</a>
                    <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                        <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                        Keluar</a>
                </div>
            </div>
        </nav>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="navbar-nav pull-right">
                                <a
                                        class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                        Profil Saya
                                        <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="mainContent">
                <div class="boxContent">
                    <div class="headSection">
                        <h2 class="pageTitle">Buat Pengajuan Cuti</h2>
                    </div>
                    <form autocomplete="off" th:action="@{/cuti/add}" th:object="${cuti}" method="post">
                        <div class="detailContainer">
                            <div>
                                <label>Pilih Kategori Cuti</label>
                                <div class="container-fluid">
                                    <div class="row align-items-center">
                                        <div class="col form-check">
                                            <input class="form-check-input" type="radio" name="jenis" value="Cuti Tahunan" id="tahunan">
                                            <label class="form-check-label" for="tahunan">
                                                Cuti Tahunan
                                            </label>
                                        </div>
                                        <div class="col form-check">
                                            <input class="form-check-input a" type="radio" name="jenis" value="Cuti Melahirkan" id="nontahunan1">
                                            <label class="form-check-label" for="nontahunan1">
                                                Cuti Melahirkan
                                            </label>
                                        </div>
                                        <div class="col form-check">
                                            <input class="form-check-input a" type="radio" name="jenis" value="Cuti Umroh/Naik Haji" id="nontahunan2">
                                            <label class="form-check-label" for="nontahunan2">
                                                Cuti Umroh/Naik Haji
                                            </label>
                                        </div>
                                        <div class="col form-check">
                                            <input class="form-check-input a" type="radio" name="jenis" value="Cuti Keperluan Penting" id="nontahunan3">
                                            <label class="form-check-label" for="nontahunan3">
                                                Cuti Alasan Penting
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--    <p class="default" style="opacity: 0;">Pengajuan Cuti Tahunan minimal 1 bulan sebelum pengambilan cuti</p>-->
                            <div class="rowItem">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label>Tanggal Mulai Cuti</label>
                                        <div class="inputdate">
                                            <input disabled autocomplete="off" required class="form-control date" type="text" id="start" name="tanggal_mulai" th:value="*{tanggal_mulai}" placeholder="Pilih Tanggal">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label>Tanggal Akhir Cuti</label>
                                        <div class="inputdate">
                                            <input disabled autocomplete="off" required class="form-control date" type="text" id="end" name="tanggal_akhir" th:value="*{tanggal_akhir}" placeholder="Pilih Tanggal">
                                        </div>
                                    </div>
                                </div>
                                <p class="default" hidden>Sisa cuti tahunan Anda tersisa <span class="duration" th:text="${durasi}"></span> dari 12 hari</p>
                            </div>
<!--                            <div class="rowItem">-->
<!--                                <label>Lokasi selama cuti</label>-->
<!--                                <input disabled required class="form-control alasan" name="lokasi" th:value="*{lokasi}" placeholder="Lokasi Anda selama cuti, misal: Rumah Pribadi, Kota Bandung"></input>-->
<!--                            </div>-->
                            <div class="rowItem">
                                <label>Alasan Cuti dan Lokasi selama cuti</label>
                                <textarea disabled required class="form-control alasan" name="alasan_cuti" th:value="*{alasan_cuti}" placeholder="Alasan pengajuan cuti anda dan lokasi anda selama cuti"></textarea>
                            </div>
                            <div class="d-flex justify-content-end rowItem">
                                <button class="btn btn-primary ajukan" type="submit" disabled>Ajukan Cuti</button>
                            </div> 
                        </div>       
                    </form>    
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<!-- date picker -->
<script>
    $("#end").on("change", function() {
        var startDate = new Date($('#start').val());
        var endDate = new Date($('#end').val());
        let count = 0;
        const curDate = new Date(startDate.getTime());
        while (curDate <= endDate) {
            const dayOfWeek = curDate.getDay();
            if(dayOfWeek != 0 && dayOfWeek != 6) {
                count++;
            }
            curDate.setDate(curDate.getDate() + 1);
        }
        if(parseInt($(".duration").text()) < count && $('#tahunan').prop('checked')){
            $('.default').css('color','red');
            $('.ajukan').attr('disabled','disabled');
        } else {
            $('.default').css('color','black');
            $('.ajukan').removeAttr('disabled');
        }
    });
    $(document).ready(function () {
        var forbiddenDates = "[[${forbiddenDates}]]";
        $('#start').datepicker({
            daysOfWeekDisabled: "0,6",
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            format: "yyyy-mm-dd",
            startDate: '+1d',
            todayHighlight: true,
            datesDisabled: forbiddenDates
            // beforeShowDay: function(date) {
            //     var day = date.getDay();
            //     if(day == 0 || day==6){
            //         return {classes: 'markholiday', enabled: true};
            //     }
            //     if(~forbiddenDates.indexOf(date.getDate())){
            //         return {classes: 'forbidden', enabled: false};
            //     }
            //     // var hilightedDays = [1,3,8,20,21,16,26,30];
            //     // if (~hilightedDays.indexOf(date.getDate())) {
            //     //     return {classes: 'markholiday', tooltip: 'Title'};
            //     // }
            // }
        });
        $('#end').datepicker({
            daysOfWeekDisabled: "0,6",
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            format: "yyyy-mm-dd",
            startDate: '+1d',
            todayHighlight: true,
            datesDisabled: forbiddenDates
            // beforeShowDay: function(date){
            //     var day = date.getDay();
            //     if(day==0){
            //         return[false, "markholiday"];
            //     } else return [true];
            // }
        });
        $('#tahunan').click(function() {
            $('.default').removeAttr('hidden');
            $('.date').removeAttr('disabled');
            $('.alasan').removeAttr('disabled');

            // $('#start').datepicker('setStartDate', '+1m');
            // $('#end').datepicker('setStartDate', '+1m');
        });
        $('#nontahunan1').click(function() {
            $('.default').attr('hidden','hidden');
        });
        $('.a').click(function() {
            $('.ajukan').removeAttr('disabled');
            $('.date').removeAttr('disabled');
            $('.alasan').removeAttr('disabled');
            // $('#start').datepicker('setStartDate', '+1d');
            // $('#end').datepicker('setStartDate', '+1d');
        });
    });
</script>
</body>
</html>