<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
    <meta charset="UTF-8">
    <title>Si-Office</title>
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/foto.css}" />
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <object th:include="fragments/input.html :: input"></object>
</head>
<body>
<nav th:replace="fragments/sidenavbar.html :: navbar"></nav>
<div>
    <div class="row">
        <div class="box-profil1">
            <img class="image-cropper image" th:if="*{angka == 1}" th:src="@{foto/} + ${pengguna.FotoPengguna.id}" style="width: 100px; height: 100px" >
            <img th:if="*{angka == 0}" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/user-profil-2758891-2290818.png" style="height: 100px; width: 100px">
            <a><span th:replace="fragments/tablepill :: icon('edit','foto')"></span></a>
            <h2 th:text="${pengguna.nama_depan} + ' ' + ${pengguna.nama_belakang}"></h2>
            <h4 class="font-P2" th:text="${pengguna.jabatan}"></h4>
            <h4 class="font-P2" th:text="${pengguna.username}"></h4>
        </div>
        <div class="box-profil2">
            <div class="row" style="margin-top: 28px">
                <p class="font-H7 col-4" th:text="'Jenis Kelamin '"></p>
                <p class="font-P2 col-4" th:if="${pengguna.jenis_kelamin == 1}" th:text="Laki-laki"></p>
                <p class="font-P2 col-4" th:if="${pengguna.jenis_kelamin == 2}" th:text="Perempuan"></p>
                <div th:replace="fragments/button.html :: custom_button (type='2', link=@{/pengguna/updateProfil/{username}(username=${pengguna.username})}, icon=' ', text='Edit Profil')">
                </div>
            </div>
            <div class="row">
                <p class="font-H7 col-4" th:text="'Tempat, tanggal lahir '"></p>
                <p class="font-P2 col-4" th:text="${pengguna.tempat_lahir} + ', ' + ${pengguna.tanggal_lahir}"></p>
            </div>
            <div class="row">
                <p class="font-H7 col-4" th:text="'Email '"></p>
                <p class="font-P2 col-4" th:text="${pengguna.email}"></p>
            </div>
            <div class="row">
                <p class="font-H7 col-4" th:text="'Telepon '"></p>
                <p class="font-P2 col-4" th:text="${pengguna.no_hp}"></p>
            </div>
            <div class="row">
                <p class="font-H7 col-4" th:text="'Alamat '"></p>
                <p class="font-P2 col-6" th:text="${pengguna.alamat}"></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box-profil3">
        <div class="row">
            <h2 class="font-H5 col-8" style="margin-top: 8px; margin-left: 24px; padding-top: 8px">Identitas Keluarga</h2>
        </div>
        <div class="row">
            <div class="row col-9" style="margin-left: 24px; padding-top: 20px">
                <a type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/profil}">Data Pegawai</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/riwayatPendidikan}">Riwayat Pendidikan</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/kompetensi}">Kompetensi</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm active btn-custom" th:href="@{/pengguna/keluarga}">Keluarga</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/ttd}">Tanda Tangan</a>
            </div>
            <div th:replace="fragments/button.html :: custom_button (type='1', link=@{/pengguna/tambahKeluarga}, icon=' ', text='Tambah Keluarga')">
            </div>
        </div>
        <!--TABLE COMPONENT-->
        <div>
            <div class="table-responsive">
                <table class="table tabel">
                    <thead>
                    <tr>
                        <!--            Masukkan table headers-->
                        <th scope="col">Nama</th>
                        <th scope="col">Hubungan</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:if="*{jmlKel == 1}" th:each="keluarga, iterationStatus: ${listKeluarga}">
                        <td th:text="${keluarga.nama}"></td>
                        <td th:text="${keluarga.hubungan}"></td>
                        <td th:text="${keluarga.tanggalLahir}"></td>
                        <td>
                            <a th:href="@{/pengguna/updateKeluarga/} + ${keluarga.noKeluarga}"><img th:src="@{/img/accordion-edit.svg}"></a>
                            <a th:href="@{/pengguna/deleteKeluarga/} + ${keluarga.noKeluarga}" onclick="return confirm('Apakah anda yakin ingin menghapus identitas keluarga ini?')"><img th:src="@{/img/accordion-hapus.svg}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div th:if="*{jmlKel == 0}">
                <h4 style="margin-left: 40px">Belum ada identitas keluarga yang tersimpan</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>