<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Si-Office</title>
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/foto.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <object th:include="fragments/input.html :: input"></object>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">

</head>
<body>
<nav th:replace="fragments/sidenavbar.html :: navbar"></nav>
<div>
    <div>
        <div class="row">
            <div class="box-profil1">
                <img class="image-cropper image" th:if="*{angka == 1}" th:src="@{foto/} + ${pengguna.FotoPengguna.id}" style="width: 100px; height: 170px" >
                <img th:if="*{angka == 0}" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/user-profil-2758891-2290818.png" style="height: 100px; width: 100px">
                <a><span th:replace="fragments/tablepill :: icon('edit','foto')"></span></a>
                <h2 th:text="${pengguna.nama_depan} + ' ' + ${pengguna.nama_belakang}"></h2>
                <h4 class="font-P2" th:text="${pengguna.jabatan}"></h4>
                <h4 class="font-P2" th:text="${pengguna.username}"></h4>
            </div>
            <div class="box-profil2">
                <div class="row" style="margin-top: 28px">
                    <p class="font-H7 col-4" th:text="'Jenis Kelamin '"></p>
                    <p class="font-P2 col-4" th:if="${pengguna.jenis_kelamin == 1}" th:text="Laki-laki"></p>
                    <p class="font-P2 col-4" th:if="${pengguna.jenis_kelamin == 2}" th:text="Perempuan"></p>
                    <div th:replace="fragments/button.html :: custom_button (type='2', link=@{/pengguna/updateProfil/{username}(username=${pengguna.username})}, icon=' ', text='Edit Profil')">
                    </div>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'Tempat, tanggal lahir '"></p>
                    <p class="font-P2 col-4" th:text="${pengguna.tempat_lahir} + ', ' + ${pengguna.tanggal_lahir}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'Email '"></p>
                    <p class="font-P2 col-4" th:text="${pengguna.email}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'Telepon '"></p>
                    <p class="font-P2 col-4" th:text="${pengguna.no_hp}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'Alamat '"></p>
                    <p class="font-P2 col-6" th:text="${pengguna.alamat}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="box-profil3">
        <div class="row">
            <h2 class="font-H5 col-10" style="margin-top: 8px; margin-left: 24px; padding-top: 8px">Informasi Karyawan</h2>
        </div>
        <div class="row">
            <div class="row col-10" style="margin-left: 24px; padding-top: 20px">
                <a type="button" class="btn btn-sm active btn-custom" th:href="@{/pengguna/profil}">Data Pegawai</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/riwayatPendidikan}">Riwayat Pendidikan</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/kompetensi}">Kompetensi</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/keluarga}">Keluarga</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/ttd}">Tanda Tangan</a>
                <a style="margin-left: 16px" type="button" class="btn btn-sm btn-custom" th:href="@{/pengguna/CV}">Lihat CV</a>
            </div>
            <div th:replace="fragments/button.html :: custom_button (type='2', link=@{/pengguna/ubahPassword}, icon=' ', text='Edit Password')">
            </div>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col-5">
                <div class="row">
                    <p class="font-H7 col-4" th:text="'No KK '"></p>
                    <p class="font-P2 col-2" th:text="${pengguna.no_kk}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'NIK '"></p>
                    <p class="P2 col-2" th:text="${pengguna.nik}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'BPJS Ketenagakerjaan '"></p>
                    <p class="font-P2 col-2" th:text="${pengguna.bpjs_ketenagakerjaan}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'BPJS Kesehatan '"></p>
                    <p class="font-P2 col-2" th:text="${pengguna.bpjs_kesehatan}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'Umur '"></p>
                    <p class="font-P2 col-2" th:text="${pengguna.umur}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'Status Pernikahan '"></p>
                    <p class="font-P2 col-2" th:text="${pengguna.status_pernikahan}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-4" th:text="'Jumlah Tanggungan '"></p>
                    <p class="font-P2 col-2" th:text="${pengguna.jml_tanggungan}"></p>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <p class="font-H7 col-5" th:text="'Status Pegawai/SPK'"></p>
                    <p class="font-P2 col-3" th:text="${pengguna.status_pegawai_SPK}"></p>
                </div>
                <div class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Masuk'"></p>
                    <p class="font-P2 col-3" th:text="${pengguna.tanggal_masuk}"></p>
                </div>
                <div th:if="*{tgl_awal_percobaan != null}" class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Awal Percobaan'"></p>
                    <p class="font-P2 col-3" th:text="${pengguna.tgl_awal_percobaan}"></p>
                </div>
                <div th:if="*{tgl_awal_percobaan == null}" class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Awal Percobaan'"></p>
                    <p class="font-P2 col-3">-</p>
                </div>
                <div th:if="*{tgl_akhir_percobaan != null}" class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Akhir Percobaan'"></p>
                    <p class="font-P2 col-3" th:text="${pengguna.tgl_akhir_percobaan}"></p>
                </div>
                <div th:if="*{tgl_akhir_percobaan == null}" class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Akhir Percobaan'"></p>
                    <p class="P2 col-3">-</p>
                </div>
                <div th:if="*{tgl_awal_kontrak != null}" class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Awal Kontrak'"></p>
                    <p class="font-P2 col-3" th:text="${pengguna.tgl_awal_kontrak}"></p>
                </div>
                <div th:if="*{tgl_awal_kontrak == null}" class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Awal Kontrak'"></p>
                    <p class="font-P2 col-3">-</p>
                </div>
                <div th:if="*{tgl_akhir_kontrak != null}" class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Akhir Kontrak'"></p>
                    <p class="font-P2 col-3" th:text="${pengguna.tgl_akhir_kontrak}"></p>
                </div>
                <div th:if="*{tgl_akhir_kontrak == null}" class="row">
                    <p class="font-H7 col-5" th:text="'Tanggal Akhir Kontrak'"></p>
                    <p class="font-P2 col-3">-</p>
                </div>
                <div class="row">
                    <p class="font-H7 col-5" th:text="'Ibu Kandung'"></p>
                    <p class="font-P2 col-3" th:text="${pengguna.ibu_kandung}"></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>
