<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
<div class="box-login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 div-menu">
                <div class="d-flex flex-column pt-lg-5">
                    <div class="row">
                        <img class="col-7" src="https://rspelabuhan.com/images/logo-head.png" alt="Orchid" style="width:250px; margin-top: -10px;margin-left: 10px">
                        <h1 class="judul-SiOffice">Si-Office</h1>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Masukkan akun untuk mengakses sistem
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger text-center" th:if="${param.error}">
                                <span>Username atau password salah</span>
                            </div>
                            <div class="alert alert-success text-center" th:if="${param.logout}">
                                <span>Logout Berhasil</span>
                            </div>
                            <form th:action="@{/login}" method="post">
                                <div style="margin-left: 24px; margin-right: 24px">
                                    <label class="font-input">Username </label>
                                    <input type="text" name="username" class="form-control" >

                                    <label class="font-input">Password</label>
                                    <input type="password" class="form-control" name="password">
                                    <a sec:authorize="!isAuthenticated()" th:href="@{/forgot_password}">forgot your password?</a>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>