<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Si-Office</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
<div class="box-login" sec:authorize="!isAuthenticated()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 div-menu">
                <div class="d-flex flex-column pt-lg-5">
                    <div class="row">
                        <img class="col-7" src="https://rspelabuhan.com/images/logo-head.png" alt="Orchid" style="width:250px; margin-top: -10px;margin-left: 10px">
                        <h1 class="judul-SiOffice">Si-Office</h1>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Reset Your Password
                        </div>
                        <div class="card-body">
                            <div th:if="${error != null}">
                                <p class="text-danger">[[${error}]]</p>
                            </div>
                            <form th:action="@{/reset_password}" method="post">
                                <input type="hidden" name="token" th:value="${token}" />
                                <div style="margin-left: 24px; margin-right: 24px">
                                    <label class="font-input">Password Baru </label>
                                    <input type="password" name="password" id="password" class="form-control"
                                           placeholder="Enter your new password" required autofocus />

                                    <label class="font-input">Konfirmasi Password</label>
                                    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm your new password"/>

                                    <br>
                                    <p class="text-center">
                                        <input type="submit" value="Change Password" class="btn btn-primary" />
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>