<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Si-Office</title>
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/sidenavbar :: navbar"></div>
<div class="card text-center" sec:authorize="!isAuthenticated()">
    <div class="card-body">
        <h2 class="card-title" th:text="'Reset Password Berhasil!'"></h2>
        <a th:href="@{/login}" class="btn btn-primary">Login</a>
    </div>
</div>
</body>
</html>