<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Si Office</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="card m-4 p-4 bg-light rounded text-center justify-content-center">
        <br>
        <br>
        <h2 th:text="${Judul}"></h2>
        <p th:text="${Isi}"></p>
        <br>
        <br>
        <p th:if="*{istolak}" ><b>Alasan Penolakan</b></p>
        <p th:if="*{istolak}" th:text="${alasan_tolak}"></p>
        <div>
            <a th:href="@{/cuti/daftar-pengajuan}" class="btn btn-primary">Kembali ke Pengajuan Cuti Divisi</a>
        </div>
    </div>
</div>

</body>

</html>