<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Karyawan</title>
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
</head>
<body>
    <div th:replace="fragments/sidenavbar :: navbar"></div>
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title" th:text="'Karyawan dengan username: '+ ${username} + ' berhasil diupdate!'"></h2>
            <a th:href="@{/datakaryawan/view/} + ${karyawan.id}" class="btn btn-info">Kembali</a>
        </div>
    </div>
</body>
</html>