<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/beritaCSS.css}">
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <script th:include="fragments/tablepill :: onclick"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <meta charset="UTF-8">
    <title>Berita</title>
</head>
<body>

<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Home
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Data Karyawan</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Data Vendor</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Data Rekanan</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Arsip Surat Masuk</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Arsip Surat Keluar</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Arsip Nota Dinas</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Arsip Nota Dinas</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Pengajuan Cuti</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/berita}">
                <box-icon name='news' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                Berita & Informasi</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                Regulasi</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                FAQ</a>
            <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                Keluar</a>
            </div>
        </div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                    Profil Saya
                                    <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div>
            <div class="row align-items-center headSection">
                <div class="col-auto mr-auto"><h1 class="pageTitle">Berita & Informasi Kegiatan</h1></div>
                <div class="col-auto">
                    <div sec:authorize="hasAuthority('SDM')" th:replace="fragments/button.html
                      :: custom_button (type='1', link=@{/berita/buat}, icon='ci:edit' ,text='Buat Berita')">
                    </div>
                </div>
            </div>
            <div th:if="*{listBerita.size > 0}" th:each="berita:${listBerita}">
                <div class="table-container post">
                    <h3 class="berita-title" th:text="${berita.judul}"></h3>
                    <div class="subtitle" th:inline="text">
                        <span class="subtitleProfile" th:text="'Diajukan pada ' + ${#dates.format(berita.tanggal_dibuat, 'dd MMM yyyy')} + ' oleh '"></span>
                        <span class="profileData" th:onclick="'clickDirect(&quot' + @{/datakaryawan/view/} + ${berita.pembuat.id} +'&quot)'" th:text="${berita.pembuat.nama_depan} + ' ' + ${berita.pembuat.nama_belakang} + ', ' + ${berita.pembuat.jabatan}"></span>
                    </div>
                    <p class = "content" id="berita-isi" th:text="${berita.isi}"></p>
                    <button onclick="readMore(this)">Tampilkan Semua</button>
                    <div sec:authorize="hasAuthority('SDM')" class="d-flex justify-content-end actions">
                        <div th:replace="fragments/button.html
                      :: custom_button (type='5', link=@{/berita/hapus/} + ${berita.noBerita}, icon='ci:edit' ,text='Hapus')">
                        </div>
                        <div th:replace="fragments/button.html
                      :: custom_button (type='6', link=@{/berita/ubah/} + ${berita.noBerita}, icon='ci:edit' ,text='Edit')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container" th:if="*{listBerita.size == 0}">
                Belum ada berita
            </div>
        </div>
</div>
</div>

<script>
    let noOfCharac = 500;
    let contents = document.querySelectorAll(".content");
    contents.forEach(content => {
        //If text length is less that noOfCharac... then hide the read more button
        if(content.textContent.length < noOfCharac){
            content.nextElementSibling.style.display = "none";
        }
        else{
            let displayText = content.textContent.slice(0,noOfCharac);
            let moreText = content.textContent.slice(noOfCharac);
            content.innerHTML = `${displayText}<span class="dots">...</span><span class="hide more">${moreText}</span>`;
        }
    });

    function readMore(btn){
        let post = btn.parentElement;
        post.querySelector(".dots").classList.toggle("hide");
        post.querySelector(".more").classList.toggle("hide");
        btn.textContent == "Tampilkan Semua" ? btn.textContent = "Tutup" : btn.textContent = "Tampilkan Semua";
    }
</script>
</body>
</html>