<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Daftar Faq</title>
    <object th:include="fragments/button :: css"></object>
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/tablepill.css}">
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <link rel="stylesheet" th:href="@{/css/accordion.css}">
    <link th:replace="fragments/status-box :: css-status-box">
    <link th:replace="fragments/submit-form :: css-submit-form">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/faq.js}"></script>
</head>
<body>
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div></div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                Profil Saya
                                <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Insert Page content here-->
        <div class="headSection">
            <div class="row align-items-center">
                <div class="col-auto mr-auto">
                    <h1 class="pageTitle">Frequently Asked Questions</h1>
                </div>
            </div>
            <div th:if="*{daftarFaq.size() != 0}">
                <div th:if="${query == 'home'}">
                    <div class="row">
                        <div sec:authorize="hasAuthority('SDM')">
                            <a class="btn" style="color: white; background-color: #0136FE; font-weight: bold" th:href="@{/faq/tambah}">
                                <span th:text="'Tambah FAQ'" />
                            </a>
                            <a class="btn" style="color: white; background-color: #FF7D00; font-weight: bold" th:href="@{/faq/edit}">
                                <span th:text="'Edit FAQ'" />
                            </a>
                            <a class="btn" style="color: white; background-color: #DD0028; font-weight: bold" th:href="@{/faq/hapus}">
                                <span th:text="'Hapus FAQ'" />
                            </a>
                            <a class="btn" style="color: white; background-color: #00A460; font-weight: bold" th:href="@{/faq/ubah-urutan}">
                                <span th:text="'Ubah Posisi FAQ'" />
                            </a>
                        </div>
                    </div>

                    <div th:each ="faq, iterationStatus: ${daftarFaq}"
                         class="accordion accordion-colour accordion-in-auto-layout"
                         th:id="'id-' + ${faq.idFaq} + ' ' + 'urutan-' + ${faq.noUrutan}"
                    >
                        <div class="row margin-acr">
                            <div class="col-11">
                                <p class="accordion-font-question" th:text="${faq.pertanyaan}"></p>
                            </div>
                            <div class="col-1" style="right: 0">
                                <a class="slider"><img th:src="@{/img/accordion-arrow.svg}"></a>
                            </div>
                        </div>
                        <div class="row answer margin-acr">
                            <div class="">
                                <p class="accordion-font-answer" th:text="${faq.jawaban}"></p>
                            </div >
                        </div>
                    </div>
                </div>

                <div th:each ="faq, iterationStatus: ${daftarFaq}"
                     class="accordion accordion-colour accordion-in-auto-layout"
                     th:if="${query == 'edit'}"
                     th:id="'id-' + ${faq.idFaq} + ' ' + 'urutan-' + ${faq.noUrutan}"
                >
                    <div class="row margin-acr">
                        <div class="col-10">
                            <p class="accordion-font-question" th:text="${faq.pertanyaan}"></p>
                        </div>
                        <div class="col-1" style="right: 0">
                            <a th:href="@{/faq/edit/} + ${faq.idFaq}"><img th:src="@{/img/accordion-edit.svg}"></a>
                        </div>
                        <div class="col-1" style="right: 0">
                            <a class="slider"><img th:src="@{/img/accordion-arrow.svg}"></a>
                        </div>
                    </div>
                    <div class="row answer margin-acr">
                        <div class="">
                            <p class="accordion-font-answer" th:text="${faq.jawaban}"></p>
                        </div>
                    </div>
                </div>

                <div th:each ="faq, iterationStatus: ${daftarFaq}"
                     class="accordion accordion-colour accordion-in-auto-layout"
                     th:if="${query == 'hapus'}"
                     th:id="'id-' + ${faq.idFaq} + ' ' + 'urutan-' + ${faq.noUrutan}"
                >
                    <div class="row margin-acr">
                        <div class="col-10">
                            <p class="accordion-font-question" th:text="${faq.pertanyaan}"></p>
                        </div>
                        <div class="col-1" style="right: 0">
                            <form th:action="@{/faq/hapus/} + ${faq.idFaq}" method="post">
                                <button type="submit"><img th:src="@{/img/accordion-hapus.svg}"></button>
                            </form>
                        </div>
                        <div class="col-1" style="right: 0">
                            <a class="slider"><img th:src="@{/img/accordion-arrow.svg}"></a>
                        </div>
                    </div>
                    <div class="row answer margin-acr">
                        <div class="">
                            <p class="accordion-font-answer" th:text="${faq.jawaban}"></p>
                        </div>
                    </div>
                </div>

                <div th:each ="faq, iterationStatus: ${daftarFaq}"
                     class="accordion accordion-colour accordion-in-auto-layout"
                     th:if="${query == 'ubah-urutan'}"
                     th:id="'id-' + ${faq.idFaq} + ' ' + 'urutan-' + ${faq.noUrutan}"
                >
                        <div class="row margin-acr" th:if="${faq.noUrutan != 1 and faq.noUrutan != daftarFaq.size()}">
                            <div class="col-9">
                                <p class="accordion-font-question" th:text="${faq.pertanyaan}"></p>
                            </div>
                            <div class="col-1">
                                <a class="naik active"><img th:src="@{/img/accordion-naik.svg}"></a>
                            </div>
                            <div class="col-1" style="right: 0">
                                <a class="turun active"><img th:src="@{/img/accordion-turun.svg}"></a>
                            </div>
                            <div class="col-1" style="right: 0">
                                <a class="slider"><img th:src="@{/img/accordion-arrow.svg}"></a>
                            </div>
                        </div>
                        <div class="row answer margin-acr" th:if="${faq.noUrutan != 1 and faq.noUrutan != daftarFaq.size()}">
                            <div class="">
                                <p class="accordion-font-answer" th:text="${faq.jawaban}"></p>
                            </div>
                        </div>
                        <div class="row margin-acr" th:if="${faq.noUrutan == 1 and faq.noUrutan != daftarFaq.size()}">
                            <div class="col-9">
                                <p class="accordion-font-question" th:text="${faq.pertanyaan}"></p>
                            </div>
                            <div class="col-1">
                                <a class="naik"><img th:src="@{/img/accordion-naik.svg}"></a>
                            </div>
                            <div class="col-1" style="right: 0">
                                <a class="turun active"><img th:src="@{/img/accordion-turun.svg}"></a>
                            </div>
                            <div class="col-1" style="right: 0">
                                <a class="slider"><img th:src="@{/img/accordion-arrow.svg}"></a>
                            </div>
                        </div>
                        <div class="row answer margin-acr" th:if="${faq.noUrutan == 1 and faq.noUrutan != daftarFaq.size()}">
                            <div class="">
                                <p class="accordion-font-answer" th:text="${faq.jawaban}"></p>
                            </div>
                        </div>
                        <div class="row margin-acr" th:if="${faq.noUrutan == daftarFaq.size() and faq.noUrutan != 1}">
                            <div class="col-9">
                                <p class="accordion-font-question" th:text="${faq.pertanyaan}"></p>
                            </div>
                            <div class="col-1">
                                <a class="naik active"><img th:src="@{/img/accordion-naik.svg}"></a>
                            </div>
                            <div class="col-1" style="right: 0">
                                <a class="turun"><img th:src="@{/img/accordion-turun.svg}"></a>
                            </div>
                            <div class="col-1" style="right: 0">
                                <a class="slider"><img th:src="@{/img/accordion-arrow.svg}"></a>
                            </div>
                        </div>
                        <div class="row answer margin-acr" th:if="${faq.noUrutan == daftarFaq.size() and faq.noUrutan != 1}">
                            <div class="">
                                <p class="accordion-font-answer" th:text="${faq.jawaban}"></p>
                            </div>
                        </div>
                        <div class="row margin-acr"  th:if="${faq.noUrutan == daftarFaq.size() and faq.noUrutan == 1}">
                            <div class="col-9">
                                <p class="accordion-font-question" th:text="${faq.pertanyaan}"></p>
                            </div>
                            <div class="col-1" style="right: 0">
                                <a class="slider"><img th:src="@{/img/accordion-arrow.svg}"></a>
                            </div>
                        </div>
                        <div class="row answer margin-acr" th:if="${faq.noUrutan == daftarFaq.size() and faq.noUrutan == 1}">
                            <div class="">
                                <p class="accordion-font-answer" th:text="${faq.jawaban}"></p>
                            </div>
                        </div>
                </div>
                <div class="colour-submit-form fixed-bottom" th:if="${query == 'edit' or query == 'hapus' or query == 'ubah-urutan'}">
                    <div class="row padding-submit-form" style="margin: 0 10px;">
                        <div class="col-auto">
                            <a class="btn" style="color: white; background-color: #99A6A7;
                            font-weight: bold" th:if="${query == 'edit' or query == 'hapus'}" th:href="@{/faq}">
                                <span th:text="'Selesai'" />
                            </a>
                            <a class="submit btn" style="color: white; background-color: #99A6A7;
                            font-weight: bold" th:if="${query == 'ubah-urutan'}">
                                <span th:text="'Selesai'" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="*{daftarFaq.size() == 0}">
                <div class="card mt-4 border-light d-flex shadow bg-white rounded">
                    <div class="card-body">
                        <p class="pageTitle" style="text-align: center">
                            Tidak ada FAQ yang tersimpan
                        </p>
                        <p class="pageTitle" style="text-align: center">
                            Tekan Tombol "Tambah FAQ" untuk menambahkan FAQ
                        </p>
                        <div th:insert="fragments/button ::
                        custom_button (type='1', link=@{/faq/tambah},
                        icon=' ', text='Tambah FAQ')" class="justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>
</body>
</html>