<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Si-Office</title>
    <meta charset="UTF-8">
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
</head>
<body>
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div></div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                Profil Saya
                                <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div>
            <div class="row align-items-center headSection">
                <div class="col-auto mr-auto"><h1 class="pageTitle">Daftar Vendor</h1></div>
                <div class="col-auto">
                    <div th:replace="fragments/button.html
                      :: custom_button (type='1', link=@{/vendor/tambah}, icon=' ' ,text='Tambah Vendor')">
                    </div>
                </div>
                <form th:action="@{/vendor/search}" method="get">
                    <input class="form-control form-control-lg" type="text" name="keyword" th:value="${keyword}"  placeholder="Tuliskan nama vendor atau nama jenis supplier yang dicari" size="50" >
                    <button type="submit" class="btn btn-outline-primary" >Search</button>
                    <button type="submit" class="btn btn-secondary" >Reset</button>
                </form>
            </div>
            <div th:if="*{listVendor.size() > 0}">
                <div class="table-container">
                    <h3 class="tableTitle"><b>Daftar Vendor</b></h3>
                    <div class="table-responsive">
                        <table class="table tabel">
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Nama Vendor</th>
                                <th scope="col">Supplier</th>
                                <th scope="col">Kontak</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="direct" th:onclick="'clickDirect(&quot' + @{/vendor/view/} + ${vendor.id} +'&quot)'"
                                th:each="vendor, iterator: ${listVendor}">
                                <td th:text="${iterator.count}"></td>
                                <td th:text="${vendor.nama_vendor}"></td>
                                <td th:text="${vendor.jenis_supplier}"></td>
                                <td th:text="${vendor.no_hp}"></td>
                                <td>
                                    <img th:src="@{/img/chevron.svg}" class="icon" alt="Detail">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="*{listVendor.size() > 0}">
            <h3 style="text-align: center;  padding: 70px 0;">Belum ada data vendor yang tersimpan</h3>
        </div>
    </div>
</div>
</body>
</html>