<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <title>Cuti</title>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body>
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><img src="/img/logo.jpeg" alt="Orchid" style="width:175px"></div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0"  id="aktif" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div>
        </div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                    Profil Saya
                                    <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div>
            <div class="row align-items-center headSection">
                <div th:if="${pengguna.role.nama_role == 'Supervisor'}" class="col-auto mr-auto"><h1 class="pageTitle">Pengajuan Cuti <span style="color: #99A6A7" th:text="'Divisi ' + ${pengguna.divisi.divisi}"></span></h1></div>
                <div th:if="${pengguna.role.nama_role != 'Supervisor'}" class="col-auto mr-auto"><h1 class="pageTitle">Pengajuan Cuti Karyawan</h1></div>
                <div class="col-auto">
                </div>
                <div sec:authorize="hasAnyAuthority('Direktur', 'Manager', 'Supervisor', 'SDM','Admin')" class="d-flex" style="margin-top: 16px;">
                    <div class="page-selector" th:onclick="'clickDirect(&quot' + @{/cuti/} +'&quot)'">
                        <p style="margin: 0">Riwayat Saya</p>
                    </div>
                    <div style="width: 16px;"></div>
                    <div class="page-selector-selected">
                        <p style="margin: 0">Pengajuan Cuti Karyawan</p>
                    </div>
                </div>
            </div>
            <div th:if="*{pengguna.role.nama_role != 'SDM'}">
                <div class="table-container">
                    <h3 class="tableTitle"><b>Menunggu Persetujuan </b><span th:text="${pengguna.role.nama_role}"></span></h3>
                    <div class="table-responsive">
                        <table class="table tabel">
                            <thead>
                            <tr>
                                <th scope="col">Jenis Cuti</th>
                                <th scope="col">Jumlah Hari Cuti</th>
                                <th scope="col">Tanggal Pengajuan</th>
                                <th scope="col">Nama Pengaju</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="direct" th:onclick="'clickDirect(&quot' + @{/cuti/pengajuan/} + ${cuti.noCuti} +'&quot)'"
                                th:each="cuti, iterationStatus: ${listCuti}"
                                th:if="${cuti.status == 'Menunggu Persetujuan Supervisi' ||
                                                    cuti.status == 'Menunggu Persetujuan Direktur' || cuti.status == 'Menunggu Persetujuan Manager'}">
                                <td th:text="${cuti.jenis}" class="first"></td>
                                <td th:text="${cuti.durasi} + ' Hari' "></td>
                                <td th:text="${#dates.dayOfWeekName(cuti.tanggal_pengajuan)} + ', ' + ${#dates.format(cuti.tanggal_pengajuan, 'dd MMM yyyy')}"></td>
                                <td th:text="${cuti.pengguna.nama_depan} + ' ' + ${cuti.pengguna.nama_belakang}"></td>
                                <td>
                                    <span><div th:replace="fragments/tablepill :: pill('pending','Menunggu Persetujuan')"></div></span>
                                </td>
                                <td>
                                    <span th:replace="fragments/tablepill :: icon('detail','Disetujui')"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${pengguna.role.nama_role == 'SDM'}">
            <div class="table-container">
                <h3 th:if="${pengguna.role.nama_role == 'SDM'}" class="tableTitle"><b>Pengajuan Berstatus Disetujui</span></b></h3>
                <div class="table-responsive">
                    <table class="table tabel">
                        <thead>
                        <tr>
                            <th scope="col">Jenis Cuti</th>
                            <th scope="col">Jumlah Hari Cuti</th>
                            <th scope="col">Tanggal Pengajuan</th>
                            <th scope="col">Nama Pengaju</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="direct" th:onclick="'clickDirect(&quot' + @{/cuti/pengajuan/} + ${cuti.noCuti} +'&quot)'"
                            th:each="cuti, iterationStatus: ${listCuti}"
                            th:if="${cuti.status == 'Disetujui'}">
                            <td th:text="${cuti.jenis}" class="first"></td>
                            <td th:text="${cuti.durasi} + ' Hari' "></td>
                            <td th:text="${#dates.dayOfWeekName(cuti.tanggal_pengajuan)} + ', ' + ${#dates.format(cuti.tanggal_pengajuan, 'dd MMM yyyy')}"></td>
                            <td th:text="${cuti.pengguna.nama_depan} + ' ' + ${cuti.pengguna.nama_belakang}"></td>
                            <td>
                                <span><div th:replace="fragments/tablepill :: pill('success','Disetujui')"></div></span>
                            </td>
                            <td>
                                <span th:replace="fragments/tablepill :: icon('detail','Disetujui')"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:if="${isempty}">
            <h2 style="margin-left: 48px;margin-top: 48px;" th:text="'Belum ada Pengajuan Cuti'"></h2>
        </div>
    </div>
</div>
</div>
</div>

</body>
>
</html>