<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Si Office</title>
    <meta charset="UTF-8">
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <object th:include="fragments/status-box :: css-status-box" th:remove="tag"></object>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <link rel="stylesheet" th:href="@{/css/status-box.css}"/>
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body style="background-color: #FAFAFA">
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div>
        </div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                Profil Saya
                                <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div>
            <div class="headSection">
                <div><h1 th:text="${nodin.perihal}" class="pageTitle"></h1></div>
                <div class="subtitle" th:inline="text">
                    <span class="subtitleProfile" th:text="'Nomor Surat: OPS/' + ${nodin.nomor} + '/OGN.Jkt-2022'"></span>
                    <br>
                    <span th:if="${nodin.status != 0}" class="subtitleProfile" th:text="'Telah diajukan pada tanggal ' +${tanggal}"></span>
                    <span sec:authorize="hasAuthority('Manager')" class="subtitleProfile" th:text="oleh "></span>
                    <span sec:authorize="hasAuthority('Manager')" class="profileData" th:onclick="'clickDirect(&quot' + @{/datakaryawan/view/} + ${nodin.pengguna.id} +'&quot)'" th:text="${nodin.pengguna.nama_depan} + ' ' + ${nodin.pengguna.nama_belakang} + ', ' + ${nodin.pengguna.jabatan}"></span>
                </div>
                <br>
                <div class="row">
                    <div class="col-auto">
                        <div th:replace="fragments/button.html
                        :: custom_button (type='2', link=@{/notadinas/unduh/{nomor}(nomor=${nodin.nomor})}, icon='bxs:download' ,text='Unduh Berkas PDF')">
                        </div>
                    </div>
                    <div class="col-auto" th:if="${nodin.status == 0 || nodin.status == 3 || nodin.status == 5}">
                        <div th:replace="fragments/button.html
                        :: custom_button (type='2', link=@{/notadinas/edit/{nomor}(nomor=${nodin.nomor})}, icon='ci:edit' ,text='Edit Data Surat')">
                        </div>
                    </div>
                    <div class="col-auto" th:if="${nodin.status == 0}">
                        <a class="btn" id="tombolHapusUtama" style="color: #DD0028; background-color: #F4D6E0; font-weight: bold; cursor: pointer" data-bs-toggle="modal" data-bs-target="#confirmation" th:value="${nodin.nomor}">
                            <span class="iconify-inline" data-icon="bx:trash-alt"></span>
                            <span th:text="'Hapus Data Surat'"></span>
                        </a>
                    </div>
                    <div class="col-auto" th:if="${nodin.status == 0}">
                        <div th:replace="fragments/button.html
                        :: custom_button (type='1', link=@{/notadinas/ajukan/{nomor}(nomor=${nodin.nomor})}, icon=' ', text='Ajukan Persetujuan')">
                        </div>
                    </div>
                    <div class="col-auto" th:if="${nodin.status == 3 || nodin.status == 5}">
                        <div th:replace="fragments/button.html
                        :: custom_button (type='1', link=@{/notadinas/ajukan/{nomor}(nomor=${nodin.nomor})}, icon=' ', text='Ajukan Ulang')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="detailContainer">
                <div class="container">
                    <div class="row">
                        <div class="col statBox">
                            <div th:switch="${nodin.status}">
                                <span th:case="'0'"><div th:replace="fragments/status-box :: custom-status-box('pending','Draf')"></div></span>
                                <span th:case="'1'"><div th:replace="fragments/status-box :: custom-status-box('pending','Diajukan ke Manajer')"></div></span>
                                <span th:case="'2'"><div th:replace="fragments/status-box :: custom-status-box('pending','Diajukan ke Direktur')"></div></span>
                                <span th:case="'3'"><div th:replace="fragments/status-box :: custom-status-box('failed','Ditolak oleh Manajer')"></div></span>
                                <span th:case="'4'"><div th:replace="fragments/status-box :: custom-status-box('success','Diteruskan ke Arsip')"></div></span>
                                <span th:case="'5'"><div th:replace="fragments/status-box :: custom-status-box('neutral','Ditunda oleh Direktur')"></div></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alasanCuti">
                    <h5 class="alasanTitle">Menindaklanjuti</h5>
                    <p class="alasanBody" style="white-space: pre-line; text-align: justify; text-justify: inter-word" th:text="${nodin.pembuka}"></p>
                </div>
                <br>
                <div class="alasanCuti">
                    <h5 class="alasanTitle">Dengan surat ini kami hendak menyampaikan</h5>
                    <p class="alasanBody" style="white-space: pre-line; text-align: justify; text-justify: inter-word" th:text="${nodin.inti}"></p>
                </div>
                <br>
                <div class="alasanCuti" th:if="${nodin.alasanPenolakan != null}">
                    <h5 th:if="${nodin.status == 3}" class="alasanTitle">Alasan Penolakan oleh Manajer:</h5>
                    <h5 th:if="${nodin.status == 1}" class="alasanTitle">Alasan Penolakan Sebelumnya oleh Manajer:</h5>
                    <p class="alasanBody" style="white-space: pre-line; text-align: justify; text-justify: inter-word" th:text="${nodin.alasanPenolakan}"></p>
                </div>
                <br>
                <div class="alasanCuti" th:if="${nodin.disposisi != null}">
                    <h5 class="alasanTitle">Catatan Disposisi dari Direktur:</h5>
                    <p class="alasanBody" style="white-space: pre-line; text-align: justify; text-justify: inter-word" th:text="${nodin.disposisi}"></p>
                </div>
                <br>
                <br>
                <div class="d-flex justify-content-end" sec:authorize="hasAuthority('Manager')">
                    <div class="mr-3">
                        <a th:href="@{/notadinas/tolak/{nomor}(nomor=${nodin.nomor})}" class="btn btn-danger">Tolak</a>
                    </div>
                    <div>
                        <div th:replace="fragments/button.html
                        :: custom_button (type='4', link=@{/notadinas/setujui/{nomor}(nomor=${nodin.nomor})}, icon=' ', text='Setujui')">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end" sec:authorize="hasAuthority('Direktur')">
                    <div class="mr-3">
                        <a th:href="@{/notadinas/disposisi/5/{nomor}(nomor=${nodin.nomor})}" class="btn btn-warning">Tunda</a>
                    </div>
                    <div>
                        <div th:replace="fragments/button.html
                        :: custom_button (type='4', link=@{/notadinas/disposisi/4/{nomor}(nomor=${nodin.nomor})}, icon=' ', text='Setujui')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmation" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">KONFIRMASI</h5>
                                <box-icon style="cursor: pointer;" name='x' data-bs-dismiss="modal" aria-label="Close"></box-icon></button>
                            </div>
                            <div class="modal-body">
                                Anda yakin ingin menghapus data surat ini?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tidak</button>
                                <button class="btn btn-outline-danger" id="tombolHapusKonfirmasi">Ya</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    let val;

    $('#tombolHapusUtama').click(function () {
        let self = $(this);
        val = self.attr("value")
    })

    $('#tombolHapusKonfirmasi').click(function () {
        $.ajax({
            type: "POST",
            url: '/api/nodin/delete/' + val,
            data: {nomor:val},
            success: function (data) {
                if (data.status === 200) {
                    window.location.href = '/notadinas'
                }
            }
        })
    })
</script>
</body>
</html>
