<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Cuti</title>
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/status-box.css}"/>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <object th:include="fragments/status-box :: css-status-box" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <script th:include="fragments/tablepill :: onclick"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body>

<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><img src="/img/logo.jpeg" alt="Orchid" style="width:175px"></div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0"  id="aktif"  th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div>
        </div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                    Profil Saya
                                    <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div>
            <div class="headSection">
                <div><h1 th:text="${cuti.jenis}" class="pageTitle"></h1></div>
                <div class="subtitle" th:inline="text">
                    <span class="subtitleProfile" th:text="'Diajukan pada ' + ${#dates.format(cuti.tanggal_pengajuan, 'dd MMM yyyy')} + ' oleh '"></span>
                    <span class="profileData" th:onclick="'clickDirect(&quot' + @{/datakaryawan/view/} + ${cuti.pengguna.id} +'&quot)'" th:text="${cuti.pengguna.nama_depan} + ' ' + ${cuti.pengguna.nama_belakang} + ', ' + ${cuti.pengguna.jabatan}"></span>
                </div>
            </div>

            <div class="detailContainer">
                <div class="container">
                    <div class="row">
                        <div class="col timeBox">
                            <div  th:replace="fragments/status-box :: custom-status-box-date(${cuti.durasi},${cuti.tanggal_mulai},${cuti.tanggal_akhir})"></div>
                        </div>
                        <div class="col statBox">
                            <div th:if="${cuti.status == 'Menunggu Persetujuan Supervisi' ||
                                                    cuti.status == 'Menunggu Persetujuan Direktur' || cuti.status == 'Menunggu Persetujuan Manager'}">

                                <div  th:replace="fragments/status-box :: custom-status-box('pending',${cuti.status})"></div>
                            </div>
                            <div th:if="${cuti.status == 'Disetujui'}">
                                <div  th:replace="fragments/status-box :: custom-status-box('success',${cuti.status})"></div>
                            </div>
                            <div th:if="${cuti.status == 'Ditolak'}">
                                <div  th:replace="fragments/status-box :: custom-status-box('failed',${cuti.status})"></div>
                            </div>
                            <div th:if="${cuti.status == 'Dibatalkan'}">
                                <div  th:replace="fragments/status-box :: custom-status-box('neutral',${cuti.status})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                    <div class="alasanCuti">-->
                <!--                        <h5 class="alasanTitle">LOKASI SELAMA CUTI</h5>-->
                <!--                        <p class="alasanBody" th:text="${cuti.lokasi}"></p>-->
                <!--                    </div>-->
                <div class="alasanCuti">
                    <h5 class="alasanTitle">ALASAN PENGAJUAN CUTI</h5>
                    <p class="alasanBody" th:text="${cuti.alasan_cuti}"></p>
                </div>
                <!--                    <p th:text="${cuti.pengguna}"></p>-->
                <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmation" aria-hidden="true">
                    <div>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form th:object="${cuti}" th:action="@{/cuti/kelola/tolak/}+${cuti.noCuti}" method="post">
                                    <input type="hidden" th:field="*{noCuti}" th:value="*{noCuti}"/>
                                    <input type="hidden" th:field="*{jenis}" th:value="*{jenis}"/>
                                    <input type="hidden" th:field="*{tanggal_mulai}" th:value="*{tanggal_mulai}"/>
                                    <input type="hidden" th:field="*{tanggal_akhir}" th:value="*{tanggal_akhir}"/>
                                    <input type="hidden" th:field="*{durasi}" th:value="*{durasi}"/>
                                    <input type="hidden" th:field="*{tanggal_pengajuan}" th:value="*{tanggal_pengajuan}"/>
                                    <input type="hidden" th:field="*{status}" th:value="*{status}"/>
                                    <input type="hidden" th:field="*{pengguna}" th:value="*{pengguna}"/>
                                    <input type="hidden" th:field="*{alasan_cuti}" th:value="*{alasan_cuti}"/>

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tolak Pengajuan Cuti</h5>
                                        <box-icon style="cursor: pointer;" name='x' data-bs-dismiss="modal" aria-label="Close"></box-icon></button>
                                    </div>
                                    <div style="padding: 16px;">
                                        <label>Alasan penolakan pengajuan</label>
                                        <textarea required class="form-control alasan" name="alasan_penolakan" th:value="*{alasan_penolakan}" placeholder="Alasan penolakan pengajuan cuti"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" type="submit">Tolak dan Kirim Alasan</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('Supervisor', 'Manager', 'Direktur')"
                     style="background-color:#F0F0EE;padding:8px 16px;border-radius: 8px; margin-top: 16px"
                     th:if="${cuti.status == 'Menunggu Persetujuan' || cuti.status == 'Menunggu Persetujuan Supervisi' ||
                         cuti.status == 'Menunggu Persetujuan Direktur' || cuti.status == 'Menunggu Persetujuan Manager'}"
                     class="d-flex justify-content-end">
                    <div class="d-flex justify-content-end actions">
                        <a data-bs-toggle="modal" data-bs-target="#confirmation" class="btn" style="color: white; background-color: #DD0028; font-weight: bold">Tolak</a>
                        <div style="width: 16px"></div>
                        <div th:replace="fragments/button.html
                  :: custom_button (type='4', link=@{/cuti/kelola/terima/} + ${cuti.noCuti}, icon='' ,text='Terima')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>