<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Si-Office</title>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" th:href="@{/css/pendidikan.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <object th:include="fragments/status-box.html :: css-status-box" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/detail-vendor.css}">
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body>
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div></div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                Profil Saya
                                <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="mainContent">
            <div class="boxContent">
                <div class="headSection row">
                    <h2 class="pageTitle">Detail Vendor</h2>
                    <a th:replace="fragments/button.html :: custom_button (type='1', link=@{/vendor/update/{id}(id=${id})}, icon=' ', text='Edit')"></a>
                    <a onclick="return confirm('Apakah anda yakin ingin menghapus vendor?')" th:replace="fragments/button.html
            :: custom_button (type='3', link=@{/vendor/delete/{id}(id=${vendor.id})}, icon=' ', text='Hapus')"></a>
                </div>
                <div class="row">
                    <div class="box-profil1">
                        <h2 th:text="${vendor.nama_vendor}"></h2>
                        <h4 th:if="*{vendor.alamat != null}" class="font-P2" th:text="${vendor.alamat}"></h4>
                        <h4 th:if="*{vendor.alamat == null}" class="font-P2">-</h4>
                        <h4 class="font-P2">Supplier</h4>
                    </div>
                    <div class="box-profil2">
                        <div class="row" style="margin-top: 28px">
                            <p class="font-H7 col-4" th:text="'Supplier '"></p>
                            <p th:if="*{vendor.jenis_supplier != null}" class="font-P2 col-4" th:text="${vendor.jenis_supplier}"></p>
                            <p th:if="*{vendor.jenis_supplier == null}" class="font-P2 col-4">-</p>
                        </div>
                        <div class="row">
                            <p class="font-H7 col-4" th:text="'Jumlah Produk '"></p>
                            <p th:if="*{vendor.jumlah_produk != null}" class="font-P2 col-4" th:text="${vendor.jumlah_produk}"></p>
                            <p th:if="*{vendor.jumlah_produk == null}" class="font-P2 col-4">-</p>
                        </div>
                        <div class="row">
                            <p class="font-H7 col-4" th:text="'Email '"></p>
                            <p th:if="*{vendor.email != null}" class="font-P2 col-4" th:text="${vendor.email}"></p>
                            <p th:if="*{vendor.email == null}" class="font-P2 col-4">-</p>
                        </div>
                        <div class="row">
                            <p class="font-H7 col-4" th:text="'Telepon '"></p>
                            <p th:if="*{vendor.no_hp != null}" class="font-P2 col-4" th:text="${vendor.no_hp}"></p>
                            <p th:if="*{vendor.no_hp == null}" class="font-P2 col-4" >-</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="box-profil3">
                    <div class="row">
                        <h2 class="font-H5 col-8" style="margin-top: 8px; margin-left: 24px; padding-top: 8px">Daftar Produk</h2>
                        <div th:replace="fragments/button.html :: custom_button (type='1', link=@{/vendor/tambahProduk/{id}(id=${id})}, icon=' ', text='Tambah Produk')">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table tabel">
                            <thead>
                            <tr>
                                <!--            Masukkan table headers-->
                                <th scope="col">Produk</th>
                                <th scope="col">Satuan</th>
                                <th scope="col">Harga per satuan</th>
                                <th scope="col">Aksi</th>
                            </tr>
                            </thead>
                            <tbody th:if="*{listProduk.size() != 0}">
                            <tr th:each="produk, iterationStatus: ${listProduk}">
                                <td th:text="${produk.produk}"></td>
                                <td th:text="${produk.satuan}"></td>
                                <td th:text="${produk.harga}"></td>
                                <td>
                                    <a th:href="@{/vendor/updateProduk/} + ${produk.id}"><img th:src="@{/img/accordion-edit.svg}"></a>
                                    <a th:href="@{/vendor/deleteProduk/} + ${produk.id}" onclick="return confirm('Apakah anda yakin ingin menghapus produk?')"><img th:src="@{/img/accordion-hapus.svg}"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="*{listProduk.size() == 0}">
                        <br>
                        <h2 class="font-H7" th:text="'Belum menambahkan Produk'"></h2>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</body>
</html>