<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-security5">
<head>
    <meta charset="UTF-8">
    <title>Data Karyawan</title>
    <link th:replace="fragments/status-box :: css-status-box">
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/tablepill.css}">
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <object th:include="fragments/button :: css"></object>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/arsip-surat-keluar.js}"></script>
    <script th:src="@{/js/delete-surat-keluar.js}"></script>
</head>
<body>
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div></div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                Profil Saya
                                <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Insert Page content here-->
        <div class="container-fluid">
            <div class="d-flex">
            </div>
            <div class="card mt-4 mb-4 border-light d-flex shadow bg-white rounded">
                <div class="card-header text-white text-center" style="background: #08456E">Data Rekanan OGN</div>
                <div class="card-body">
                    <div th:if="${role == '[Marketing]'}">
                        <div th:replace="fragments/button.html
                            :: custom_button (type='1', link=@{/rekanan/tambah}, icon='ci:edit' ,text='Add Rekanan')">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div th:if="*{listRekanan.size() != 0}">
                                <table class="table text-center" style="width: 500px;">
                                    <thead class="font-weight-light" style="color:#08456E ">
                                    <tr>
                                        <th></th>
                                        <th> </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each ="rekanan, iterationStatus: ${listRekanan}">
                                            <td th:text="${rekanan.nama_rekanan}"></td>
                                            <td>
                                                <div th:replace="fragments/button.html
                                                    :: custom_button (type='2', link=@{/rekanan/view/{id}(id=${rekanan.idRekanan})}, icon=' ', text='Detail')">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                            <div th:unless="*{listRekanan.size() != 0}">
                                <div class="col-auto mr-auto">
                                    <p class="pageTitle" style="text-align: center">
                                        Belum ada data rekanan perusahaan yang tersimpan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>