<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/tablepill :: cssjs" th:remove="tag"></object>
    <object th:include="fragments/button :: css" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <title>Cuti</title>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</head>
<body>
    <div th:fragment="sidenavbar" class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><img src="/img/logo.jpeg" alt="Orchid" style="width:175px"></div>
            <div class="list-group list-group-flush">
                <div>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                        <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Home
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                        <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Data Karyawan</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                        <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Data Vendor</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                        <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Data Rekanan</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Surat Masuk</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Surat Keluar</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Nota Dinas</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                        <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Arsip Nota Dinas</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0"  id="aktif"  th:href="@{/cuti}">
                        <box-icon name='calendar' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                        Pengajuan Cuti</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                        <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Berita & Informasi</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                        <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        Regulasi</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                        <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                        FAQ</a>
                    <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                        <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                        Keluar</a>
                </div>
            </div>
        </nav>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="navbar-nav pull-right">
                                <a
                                        class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                        Profil Saya
                                        <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div>
                <div class="row align-items-center headSection">
                    <div class="col-auto mr-auto"><h1 class="pageTitle">Pengajuan Cuti</h1></div>
                    <div class="col-auto">
                        <div th:if="${userz.role.nama_role != 'Direktur'}">
                            <div th:replace="fragments/button.html
                            :: custom_button (type='1', link=@{/cuti/add}, icon='ci:edit' ,text='Ajukan Cuti')">
                              </div>
                        </div>
                        <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmation" aria-hidden="true">
                            <div>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Pengajuan Cuti untuk Direktur</h5>
                                            <box-icon style="cursor: pointer;" name='x' data-bs-dismiss="modal" aria-label="Close"></box-icon></button>
                                        </div>
                                        <div class="modal-body">
                                            Pengajuan cuti untuk direktur dapat dilakukan ke:

                                            Lorem ipsum dolor sir amet dslakdasdlaksdkas
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-dismiss="modal">Tutup</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a th:if="${userz.role.nama_role == 'Direktur'}" style="    font-family: 'Outfit',sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0.0035em;
                        text-align: left;
                        cursor:pointer;
                        color:#0136FE;" data-bs-toggle="modal" data-bs-target="#confirmation">Pengajuan Cuti Direktur ></a>
                    </div>

                    <div sec:authorize="hasAnyAuthority('Direktur', 'Manager', 'Supervisor', 'SDM','Admin')" class="d-flex" style="margin-top: 16px;">
                        <div class="page-selector-selected">
                            <p style="margin: 0">Riwayat Saya</p>
                        </div>
                        <div style="width: 16px;"></div>
                        <div class="page-selector" th:onclick="'clickDirect(&quot' + @{/cuti/daftar-pengajuan} +'&quot)'">
                            <p style="margin: 0">Pengajuan Cuti Karyawan</p>
                        </div>
                    </div>
                </div>
                <div th:if="*{listCutiPending > 0}">
                    <div class="table-container">
                        <h3 class="tableTitle"><b>Menunggu Persetujuan</b></h3>
                        <div class="table-responsive">
                            <table class="table tabel">
                                <thead>
                                <tr>
                                    <th scope="col">Jenis Cuti</th>
                                    <th scope="col">Jumlah Hari Cuti</th>
                                    <th scope="col">Tanggal Pengajuan</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="direct" th:onclick="'clickDirect(&quot' + @{/cuti/} + ${cuti.noCuti} +'&quot)'"
                                    th:each="cuti, iterationStatus: ${listCuti}"
                                    th:if="${cuti.status == 'Menunggu Persetujuan Supervisi' ||
                                                    cuti.status == 'Menunggu Persetujuan Direktur' || cuti.status == 'Menunggu Persetujuan Manager'}">
                                    <td th:text="${cuti.jenis}" class="first"></td>
                                    <td th:text="${cuti.durasi} + ' Hari' "></td>
                                    <td th:text="${#dates.dayOfWeekName(cuti.tanggal_pengajuan)} + ', ' + ${#dates.format(cuti.tanggal_pengajuan, 'dd MMM yyyy')}"></td>
                                    <td>
                                        <span><div th:replace="fragments/tablepill :: pill('pending','Menunggu Persetujuan')"></div></span>
                                    </td>
                                    <td>
                                        <span th:replace="fragments/tablepill :: icon('detail','Disetujui')"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
                <div th:if="*{listCutiRiwayat > 0 && listCuti.size() != 0}">
                    <div class="table-container riwayat">
                        <h3 class="tableTitle"><b>Riwayat Pengajuan</b></h3>
                        <div class="table-responsive">
                            <table class="table tabel">
                                <thead>
                                <tr>
                                    <th scope="col">Jenis Cuti</th>
                                    <th scope="col">Jumlah Hari Cuti</th>
                                    <th scope="col">Tanggal Pengajuan</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="direct" th:onclick="'clickDirect(&quot' + @{/cuti/} + ${cuti.noCuti} +'&quot)'"
                                    th:each="cuti, iterationStatus: ${listCuti}"
                                    th:if="${cuti.status == 'Disetujui' || cuti.status == 'Ditolak' ||
                                                    cuti.status == 'Dibatalkan'}">
                                    <td th:text="${cuti.jenis}" class="first"></td>
                                    <td th:text="${cuti.durasi} + ' Hari' "></td>
                                    <td th:text="${#dates.dayOfWeekName(cuti.tanggal_pengajuan)} + ', ' + ${#dates.format(cuti.tanggal_pengajuan, 'dd MMM yyyy')}"></td>
                                    <td>
                                        <span th:if="${cuti.status == 'Disetujui'}"><div th:replace="fragments/tablepill :: pill('success','Disetujui')"></div></span>
                                        <span th:if="${cuti.status == 'Ditolak'}"><div th:replace="fragments/tablepill :: pill('failed','Ditolak')"></div></span>
                                        <span th:if="${cuti.status == 'Dibatalkan'}"><div th:replace="fragments/tablepill :: pill('neutral','Dibatalkan')"></div></span>
                                    </td>
                                    <td>
                                        <span th:replace="fragments/tablepill :: icon('detail','Disetujui')"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div th:if="*{listCuti.size() == 0}">
                    <h2  style="margin-left: 48px;margin-top: 48px;" th:text="'Belum ada Riwayat Cuti'"></h2>
                </div>
            </div>
         </div>
        </div>
    </div>

</body>
>
</html>