<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-security5">
<head>
    <meta charset="UTF-8">
    <title>Daftar Surat Keluar</title>
    <link th:replace="fragments/status-box :: css-status-box">
    <object th:include="fragments/sidenavbar :: css" th:remove="tag"></object>
    <object th:include="fragments/sidenavbar :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/tablepill.css}">
    <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
    <object th:include="fragments/button :: css"></object>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/arsip-surat-keluar.js}"></script>
    <script th:src="@{/js/delete-surat-keluar.js}"></script>
</head>
<body>
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading bg-light">
            <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
        </div>
        <div class="list-group list-group-flush">
            <div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/}">
                    <box-icon name='home' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
                    <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Karyawan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
                    <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Vendor</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
                    <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Data Rekanan</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Masuk</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
                    Arsip Surat Keluar</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
                    <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Arsip Nota Dinas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
                    <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Pengajuan Cuti</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
                    <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Berita & Informasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
                    <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    Regulasi</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
                    <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
                    FAQ</a>
                <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
                    <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
                    Keluar</a>
            </div></div>
    </nav>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                Profil Saya
                                <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Insert Page content here-->
        <div class="headSection">
            <div th:if="*{daftarSuratKeluar.size() != 0}">
                <form th:action="@{/arsip/surat-keluar/search}" class="row align-items-center" method="get" style="margin: 36px 33px 28px 33px;">
                    <div class="col-auto mr-auto">
                        <h1 class="pageTitle">Arsip Surat Sumber Daya Manusia</h1>
                    </div>
                    <div class="col-auto">
                        <select required th:name="'criteria'" class="form-control form-control-lg" style="cursor: pointer">
                            <option disabled>Pilih Kriteria Pencarian</option>
                            <div th:if="${type == 'search-perihal' or type == 'search-none'}">
                                <option th:value="'perihal'" th:text="'perihal'" selected ></option>
                                <option th:value="'tanggal'" th:text="'tanggal'"></option>
                            </div>
                            <div th:if="${type == 'search-tanggal'}">
                                <option th:value="'perihal'" th:text="'perihal'"></option>
                                <option th:value="'tanggal'" th:text="'tanggal'" selected ></option>
                            </div>
                        </select>
                    </div>
                    <div class="col-auto">
                        <div th:if="${type == 'search-perihal' or type == 'search-none'}" class="inputCriteria">
                            <input class="form-control form-control-lg" type="text"
                                   th:name="'input'" th:placeholder="'Input Nama Perihal'"
                                   th:value="${inputSearch}" required>
                        </div>
                        <div th:if="${type == 'search-tanggal'}" class="inputCriteria">
                            <input class="form-control form-control-lg" type="date"
                                   th:name="'input'" th:placeholder="'Input Tanggal'"
                                   th:value="${inputSearch}" required>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" th:type="'submit'" th:text="'cari'" style="padding: 13.774px 15px"></button>
                    </div>
                </form>
                <div class="table-container" style="background-color: #FFFFFF">
                    <div class="table-responsive">
                        <h3 class="tableTitle"><b>Daftar Surat Keluar</b></h3>
                        <div th:insert="fragments/button ::
                            custom_button (type='1', link=@{/arsip/surat-keluar/unggah},
                            icon=' ', text='Unggah Surat Keluar')" class="justify-content-center" style="margin: 0px 20px 20px 20px;"
                             sec:authorize="hasAuthority('SDM')">
                        </div>
                        <div class="table-responsive">
                            <table class="table tabel">
                                <thead>
                                <tr>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Nomor</th>
                                    <th scope="col">Perihal</th>
                                    <th scope="col">Pengirim</th>
                                    <th scope="col">Penerima</th>
                                    <th scope="col">File Surat Keluar</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="suratKeluar, iterationStatus: ${daftarSuratKeluar}">
                                    <td class="first" th:text="${suratKeluar.tanggal}"></td>
                                    <td th:text="${suratKeluar.nomor}"></td>
                                    <td th:text="${suratKeluar.perihal}"></td>
                                    <td th:text="${suratKeluar.pengirim}"></td>
                                    <td th:text="${suratKeluar.penerima}"></td>
                                    <td>
                                        <a th:href="@{/api/file-surat-keluar/} + ${suratKeluar.fileSuratKeluar.id}" style="text-decoration: none">
                                            <span class="status" id="download" th:text="'Download'"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/arsip/surat-keluar/edit/} + ${suratKeluar.idSuratKeluar}" style="text-decoration: none">
                                            <span class="status" id="pending" th:text="'Edit'"></span>
                                        </a>
                                        <a class="delete" data-bs-toggle="modal" data-bs-target="#confirmation" style="cursor: pointer;" th:value="${suratKeluar.idSuratKeluar}">
                                            <span class="status" id="failed" th:text="'Hapus'"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" method="get" style="margin: 36px 33px 28px 33px;" th:if="${type == 'search-none'}">
                    <div class="col-auto">
                        <p style="font-weight: bold">Display:</p>
                    </div>
                    <div class="col-auto">
                        <a th:href="@{/arsip/surat-keluar?page=1&size=5}" th:if="${size != 5}" style="margin: 0 5px 0 5px">5</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold;
                        pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 5}">5</a>
                        <a th:href="@{/arsip/surat-keluar?page=1&size=10}" th:if="${size != 10}" style="margin: 0 5px 0 5px">10</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold; pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 10}">10</a>
                        <a th:href="@{/arsip/surat-keluar?page=1&size=15}" th:if="${size != 15}" style="margin: 0 5px 0 5px">15</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold; pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 15}">15</a>
                    </div>
                    <div class="col-auto">
                        <p>Per Page</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-weight: bold">|</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-weight: bold">Pages:</p>
                    </div>
                    <div class="col-auto">
                        <div th:each="i : ${#numbers.sequence(1, countPage)}" style="display: inline">
                            <a th:href="@{/arsip/surat-keluar?page=} + ${i} + '&size=' + ${size}"
                               th:if="${i != page}"
                               th:text="${i}" style="margin: 0 5px 0 5px"></a>
                            <a th:if="${i == page}"
                               th:text="${i}"
                               style="margin: 0 5px 0 5px; font-weight: bold;
                               pointer-events: none; cursor: default;
                               text-decoration: none; color: black"></a>
                        </div>
                    </div>
                </div>
                <div class="row" method="get" style="margin: 36px 33px 28px 33px;" th:if="${type == 'search-perihal'}">
                    <div class="col-auto">
                        <p style="font-weight: bold">Display:</p>
                    </div>
                    <div class="col-auto">
                        <a th:href="@{/arsip/surat-keluar/search?criteria=perihal&input=} + ${inputSearch} + '&page=1&size=5'" th:if="${size != 5}" style="margin: 0 5px 0 5px">5</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold;
                        pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 5}">5</a>
                        <a th:href="@{/arsip/surat-keluar/search?criteria=perihal&input=} + ${inputSearch} + '&page=1&size=10'" th:if="${size != 10}" style="margin: 0 5px 0 5px">10</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold; pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 10}">10</a>
                        <a th:href="@{/arsip/surat-keluar/search?criteria=perihal&input=} + ${inputSearch} + '&page=1&size=15'" th:if="${size != 15}" style="margin: 0 5px 0 5px">15</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold; pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 15}">15</a>
                    </div>
                    <div class="col-auto">
                        <p>Per Page</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-weight: bold">|</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-weight: bold">Pages:</p>
                    </div>
                    <div class="col-auto">
                        <div th:each="i : ${#numbers.sequence(1, countPage)}" style="display: inline">
                            <a th:href="@{/arsip/surat-keluar/search?criteria=perihal&input=} + ${inputSearch} + '&page=' + ${i} + '&size=' + ${size}"
                               th:if="${i != page}"
                               th:text="${i}" style="margin: 0 5px 0 5px"></a>
                            <a th:if="${i == page}"
                               th:text="${i}"
                               style="margin: 0 5px 0 5px; font-weight: bold;
                               pointer-events: none; cursor: default;
                               text-decoration: none; color: black"></a>
                        </div>
                    </div>
                </div>
                <div class="row" method="get" style="margin: 36px 33px 28px 33px;" th:if="${type == 'search-tanggal'}">
                    <div class="col-auto">
                        <p style="font-weight: bold">Display:</p>
                    </div>
                    <div class="col-auto">
                        <a th:href="@{/arsip/surat-keluar/search?criteria=tanggal&input=} + ${inputSearch} + '&page=1&size=5'" th:if="${size != 5}" style="margin: 0 5px 0 5px">5</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold;
                        pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 5}">5</a>
                        <a th:href="@{/arsip/surat-keluar/search?criteria=tanggal&input=} + ${inputSearch} + '&page=1&size=10'" th:if="${size != 10}" style="margin: 0 5px 0 5px">10</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold; pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 10}">10</a>
                        <a th:href="@{/arsip/surat-keluar/search?criteria=tanggal&input=} + ${inputSearch} + '&page=1&size=5'" th:if="${size != 15}" style="margin: 0 5px 0 5px">15</a>
                        <a style="margin: 0 5px 0 5px; font-weight: bold; pointer-events: none; cursor: default; text-decoration: none; color: black" th:if="${size == 15}">15</a>
                    </div>
                    <div class="col-auto">
                        <p>Per Page</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-weight: bold">|</p>
                    </div>
                    <div class="col-auto">
                        <p style="font-weight: bold">Pages:</p>
                    </div>
                    <div class="col-auto">
                        <div th:each="i : ${#numbers.sequence(1, countPage)}" style="display: inline">
                            <a th:href="@{/arsip/surat-keluar/search?criteria=tanggal&input=} + ${inputSearch} + '&page=' + ${i} + '&size=' + ${size}"
                               th:if="${i != page}"
                               th:text="${i}" style="margin: 0 5px 0 5px"></a>
                            <a th:if="${i == page}"
                               th:text="${i}"
                               style="margin: 0 5px 0 5px; font-weight: bold;
                               pointer-events: none; cursor: default;
                               text-decoration: none; color: black"></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmation" aria-hidden="true">
                        <div>
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Hapus Surat Keluar</h5>
                                        <box-icon style="cursor: pointer;" name='x' data-bs-dismiss="modal" aria-label="Close"></box-icon></button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah anda yakin ingin menghapus surat keluar ini?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                        <button class="btn btn-danger cDeleteSuratKeluar">Ya</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="*{daftarSuratKeluar.size() != 0}">
                <div class="col-auto mr-auto">
                    <h1 class="pageTitle">Daftar Surat Keluar</h1>
                </div>
                <div class="card mt-4 border-light d-flex shadow bg-white rounded">
                    <div class="card-body" th:if="${type == 'search-none'}">
                        <p class="pageTitle" style="text-align: center">
                            Tidak ada Surat Keluar yang tersimpan
                        </p>
                        <p class="pageTitle" style="text-align: center">
                            Tekan Tombol "Unggah Surat" untuk menambahkan Surat Keluar
                        </p>
                        <div th:insert="fragments/button ::
                            custom_button (type='1', link=@{/arsip/surat-keluar/unggah},
                            icon=' ', text='Unggah Surat')" class="justify-content-center">
                        </div>
                    </div>
                    <div class="card-body" th:if="${type == 'search-perihal'}">
                        <p class="pageTitle" style="text-align: center" th:text="'Pencarian berdasarkan perihal dengan keywoard'">
                        </p>
                        <p class="pageTitle" style="text-align: center" th:text="${inputSearch}">
                        </p>
                        <p class="pageTitle" style="text-align: center">
                            Tidak ditemukan
                        </p>
                        <a class="btn btn-primary" th:href="@{/arsip/surat-keluar}">Kembali</a>
                    </div>
                    <div class="card-body" th:if="${type == 'search-tanggal'}">
                        <p class="pageTitle" style="text-align: center" th:text="'Pencarian berdasarkan tanggal dengan keywoard'">
                        </p>
                        <p class="pageTitle" style="text-align: center" th:text="${inputSearch}">
                        </p>
                        <p class="pageTitle" style="text-align: center">
                            Tidak ditemukan
                        </p>
                        <a class="btn btn-primary" th:href="@{/arsip/surat-keluar}">Kembali</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>