<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>input field</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
    </head>
</head>
<body>
<!--ini gua buat 3 tipe berdasarkan button create(1), update(2), dan delete(3): biru, abu, merah ya warnanya-->
<!--contoh pemakaiannya bisa diliat di view-nodin.html yaa, thx-->

<!--kalau mau tambahin tipe baru tinggal miripin ajaa cm code yg udh ada-->
<div th:fragment="custom_button (type, link, icon, text)">
    <a th:if="${type == '1'}" class="btn" style="color: white; background-color: #0136FE; font-weight: bold" th:href="${link}">
        <span class="iconify-inline" data-icon="fluent:add-circle-24-filled"></span>
        <span th:text="${text}" />
    </a>
        <a th:if="${type == '2'}" class="btn" style="color: #002022; background-color: #F0F0EE; font-weight: bold" th:href="${link}">
            <span class="iconify-inline" th:data-icon="${icon}"></span>
            <span th:text="${text}" />
        </a>
        <a th:if="${type == '3'}" class="btn" style="color: #DD0028; background-color: #F4D6E0; font-weight: bold" th:href="${link}" onclick="return confirm('Anda yakin ingin menghapus data ini ?')">
            <span class="iconify-inline" data-icon="bx:trash-alt"></span>
            <span th:text="${text}" />
        </a>
        <a th:if="${type == '4'}" class="btn" style="color: white; background-color: #0136FE; font-weight: bold" th:href="${link}">
            <span class="iconify-inline"></span>
            <span th:text="${text}" />
        </a>
        <a th:if="${type == '5'}" class="btn" style="color: #DD0028; background-color: white; font-weight: bold" th:href="${link}" onclick="return confirm('Anda yakin ingin menghapus data ini ?')">
            <span class="iconify-inline" data-icon="bx:trash-alt"></span>
            <span th:text="${text}" />
        </a>
        <a th:if="${type == '6'}" class="btn" style="color: #0136FE; background-color: white; font-weight: bold" th:href="${link}">
            <span class="iconify-inline" th:data-icon="${icon}"></span>
            <span th:text="${text}" />
        </a>
        <a th:if="${type == '7'}" class="btn" style="color: white; background-color: #DD0028; font-weight: bold" th:href="${link}" >
            <span class="iconify-inline" data-icon="bx:trash-alt"></span>
            <span th:text="${text}" />
        </a>
</div>
<!--<div th:fragment="custom_button (colorCode, bgColorCode, link, icon, text)">-->
<!--    <a class="btn" th:style="'color:' + ${colorCode} + '; background-color:' + ${bgColorCode} + ';'" th:href="${link}">-->
<!--        &lt;!&ndash;            <span>&ndash;&gt;-->
<!--        &lt;!&ndash;                <i th:class="${icon}"></i>&ndash;&gt;-->
<!--        &lt;!&ndash;            </span>&ndash;&gt;-->
<!--        <span class="iconify-inline" data-icon="bx:trash-alt"></span>-->
<!--        <span th:text="${text}" />-->
<!--    </a>-->
<!--</div>-->
</body>
</html>