<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>input field</title>
    <head th:fragment="input">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
</head>
<body>
<!--Input Field-->
<!--Ada 3 parameter, type, value, name. Fungsinya sama aja kayak biasanya kok.
Contoh penerapannya ada di form-add-karyawan-->
<div th:fragment="input_field(type, value, name)">
    <input th:type="${type}" th:value="${value}" name="${name}" class="form-control" style="margin-left: 24px; margin-right: 24px">
</div>



</body>
</html>
