<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Si-Office</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/css/login.css}" />
        <object th:include="fragments/button :: css" th:remove="tag"></object>
        <link rel="stylesheet" th:href="@{/css/cutiCSS.css}">
        <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}">
        <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <style>
            .bold-font {
                font-weight: bold;
            }

            .p-3{

            }
        </style>
    </head>
    <head th:fragment="js">
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:scr="@{/js/bootstrap.min.js}"></script>
    </head>
</head>

<body>
<div th:fragment="sidenavbar" class="d-flex" id="wrapper">
<!-- Sidebar-->
<nav th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading bg-light">
        <img src="/img/logo.jpeg" alt="Orchid" style="width:175px">
    </div>
    <div class="list-group list-group-flush">
        <div>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" id="aktif" th:href="@{/}">
            <box-icon name='home' type='solid' class="nav-icons" color="#0136FE" style="margin-right: 12px;"></box-icon>
            Home
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/datakaryawan}">
            <box-icon name='user' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Data Karyawan</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/vendor}" sec:authorize="hasAnyAuthority('Purchasing', 'Admin')">
            <box-icon name='store' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Data Vendor</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/rekanan}">
            <box-icon name='buildings' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Data Rekanan</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-masuk}" sec:authorize="hasAnyAuthority('SDM')">
            <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Arsip Surat Masuk</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/surat-keluar}" sec:authorize="hasAnyAuthority('SDM')">
            <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Arsip Surat Keluar</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/arsip/nota-dinas}" sec:authorize="hasAnyAuthority('SDM')">
            <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Arsip Nota Dinas</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/notadinas}" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">
            <box-icon name='envelope' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Arsip Nota Dinas</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/cuti}">
            <box-icon name='calendar' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Pengajuan Cuti</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/berita}">
            <box-icon name='news' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Berita & Informasi</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/regulasi}">
            <box-icon name='check-circle' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            Regulasi</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center border-0" th:href="@{/faq}">
            <box-icon name='question-mark' type='solid' class="nav-icons" color="#99A6A7" style="margin-right: 12px;"></box-icon>
            FAQ</a>
        <a th:href="@{/logout}" class="list-group-item list-group-item-action list-group-item-light p-3 d-flex align-items-center align-self-end border-0" style="color: red;" onclick="return confirm('Apakah anda yakin ingin keluar ?')">
            <box-icon name='log-out' type='outline' class="nav-icons" color="red" style="margin-right: 12px;"></box-icon>
            Keluar</a>
        </div>
    </div>
</nav>
<!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <box-icon style="cursor:pointer;" name='menu' id="sidebarToggle"></box-icon>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="navbar-nav pull-right">
                            <a
                                    class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/pengguna/profil}">
                                    Profil Saya
                                    <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Insert Page content here-->
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Si-Office Menu</h5>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a th:href="@{/notadinas}" class="btn btn-lg btn-primary btn-1" sec:authorize="hasAnyAuthority('Operasional', 'Marketing', 'Manager', 'Direktur')">Nota Dinas</a>
                                    <a th:href="@{/arsip/surat-keluar}" class="btn btn-lg btn-primary btn-1" sec:authorize="hasAnyAuthority('SDM')">Surat Keluar</a>
                                </td>
                                <td><a th:href="@{/cuti}" class="btn btn-lg btn-primary btn-1">Pengajuan Cuti</a></td>
                            </tr>
                            <tr>
                                <td><a th:href="@{/datakaryawan}" class="btn btn-lg btn-primary btn-1">Data Karyawan</a></td>
                                <td><a th:href="@{/arsip/surat-masuk}" class="btn btn-lg btn-primary btn-1">Surat Masuk</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">News Highlight</h5>
                        <a th:href="@{/berita}" class="btn btn-lg btn-primary btn-1">Berita dan Informasi</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title">Orchid Griya Nutrisi</h5>
                    <p class="card-text">Orchid Griya Nutrisi menawarkan pelayanan makanan dan minuman yang berfokus kepada bisnis katering.
                        Produk pilihan diciptakan untuk memberikan makanan yang lezat dan dikelola secara profesional oleh
                        koki handal dan berpengalaman di hotel berbintang. Kualitas produk dan pelayanan yang tinggi diberikan
                        demi kepuasan pelanggan.
                    </p>
                    <img src="/img/logo.jpeg" alt="Orchid" style="width:300px">
            </div>
        </div>
        <!-- end page content -->
    </div>
</div>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="navbar-nav pull-right">
                    <a
                            class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/}">
                        Home
                        <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav th:fragment="navbar-login" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="navbar-nav pull-right">
                    <a
                            class="nav-item nav-link d-flex align-items-center active" style="color: black; font-weight: 500;" th:href="@{/login}">
                        Login
                        <box-icon type='solid' style="margin-left: 12px;" color='#0C5796' name='user-circle'></box-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:fragment="forguest">
    <div>
        <div class="row">
            <div class="box-profil1">
                <h2>News Highlight</h2>
                <div th:replace="fragments/button.html
                    :: custom_button (type='2', link=@{/berita}, icon=' ', text='Berita dan Informasi')">
                </div>
            </div>
            <div class="box-profil2">
                <div class="row">
                    <h2 class="card-title">Orchid Griya Nutrisi</h5>
                    <p class="card-text">Orchid Griya Nutrisi menawarkan pelayanan makanan dan minuman yang berfokus kepada bisnis katering.
                        Produk pilihan diciptakan untuk memberikan makanan yang lezat dan dikelola secara profesional oleh
                        koki handal dan berpengalaman di hotel berbintang. Kualitas produk dan pelayanan yang tinggi diberikan
                        demi kepuasan pelanggan.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

