<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link th:fragment="css-status-box" rel="stylesheet" th:href="@{/css/status-box.css}">
</head>
<body>
<div th:fragment="custom-status-box (type, text)">
    <div class="status-box-colour" style="width: 100%">
        <div class="padding-contain-status-box">
            <div>
                <img th:src="@{/img/bxs-time-five.svg}" alt="Hapus" th:if="${type == 'pending'}">
                <img th:src="@{/img/check_circle_24px.svg}" alt="Hapus" th:if="${type == 'success'}">
                <img th:src="@{/img/bxs-x-circle.svg}" alt="Hapus" th:if="${type == 'failed'}">
                <img th:src="@{/img/minus-circle.svg}" alt="Hapus" th:if="${type == 'neutral'}">
            </div>
            <div class="margin-status">
                <span class="font-status">STATUS</span>
            </div>
            <div>
                <h1 th:text="${text}" id="text-danger-colour" class="font-text" th:if="${type == 'pending'}"></h1>
                <h1 th:text="${text}" id="text-success-colour" class="font-text" th:if="${type == 'success'}"></h1>
                <h1 th:text="${text}" id="text-failed-colour" class="font-text" th:if="${type == 'failed'}"></h1>
                <h1 th:text="${text}" id="text-neutral-colour" class="font-text" th:if="${type == 'neutral'}"></h1>
            </div>
        </div>
    </div>
</div>
<div th:fragment="custom-status-box-date (reminderDay, firstDate, lastDate)">
    <div class="status-box-colour" style="width: 100%">
        <div class="padding-contain-status-box">
            <div>
                <img th:src="@{/img/bx-calendar.svg}" alt="Hari">
            </div>
            <div class="margin-status">
                <h1 th:text="${reminderDay} + ' hari cuti'" class="font-text"></h1>
            </div>
            <div>
                <span class="font-status" th:text="${firstDate} + ' - ' + ${lastDate}"></span>
            </div>
        </div>
    </div>
</div>
<div th:fragment="field-not-contain (text, idField)" class="field-warning" th:id="${idField}">
    <div class="background-danger">
        <div class="row" style="padding: 8px 16px; vertical-align: middle;">
            <div class="col-auto">
                <img th:src="@{/img/warning.svg}" alt="warning">
            </div>
            <div class="col-auto">
                <h1 th:text="${text}" class="field-text-warning"></h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>