<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments/button :: css" />
    <link th:fragment="css-submit-form" rel="stylesheet" th:href="@{/css/submit-form.css}" />
</head>
    <!--- copas langsung aja ke html soalnya kalau di bikin fragment ribet --->
<body>
    <div class="colour-submit-form  margin-submit-form">
        <div class="row padding-submit-form" style="margin: 0 10px">
            <div>
                <a class="btn btn-outline-primary" th:href="@{/faq}" th:text="'Batalkan'"></a>
                <button class="btn btn-primary" th:text="'Simpan'"></button>
            </div>
        </div>
    </div>
</body>
