<!doctype html>
<html lang="en">
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head th:fragment="cssjs">
        <link rel="stylesheet" th:href="@{/css/tablepill.css}">
        <script th:fragment="onclick">
            function clickDirect(url){
                window.location.href = url;
            }
        </script>
        <!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"-->
        <!--              integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    </head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Table & Pill Component</title>
</head>
<body>

<!--TODO: Add fragment css & js tablepill (file ini) ke file html yang dikerjakan sebelum menggunakan-->
<!--Cara pake tabel:-->
<!--1. copy div class table-respponsive ke file html yang dikerjakan ke div container-->
<!--2. utak atik atribut & header sesuai kebutuhan -->
<!--Cara implementasi bisa liat viewall-cuti.html ya-->


<!--TABLE COMPONENT-->
<div class="table-container">
    <h3 class="tableTitle"><b>Menunggu Persetujuan</b></h3>
    <div class="table-responsive">
        <table class="table tabel">
            <thead>
            <tr>
                <!--            Masukkan table headers-->
                <th scope="col">Jenis Cuti</th>
                <th scope="col">Jumlah Hari Cuti</th>
                <th cope="col">Tanggal Pengajuan</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!-- kalo mau buat tabel yang bisa diklik ke halaman detail, tambahin:
                    1. class="direct"
                    2. th:onclick="clickDirect(url)". Ganti @{/cuti/} dan ${cuti.noCuti} sesuai url kalian.
                    3. copas fungsi clickDirect di halaman ini paling bawah ke HTML file yang sedang dikerjakan
            -->
            <tr class="direct" th:onclick="'clickDirect(&quot' + @{/cuti/} + ${cuti.noCuti} +'&quot)'">
                <td class="first">Cuti Melahirkan</td>
                <td>3 Hari</td>
                <td>21 Mar 2022</td>
                <td><span class="status" id="success">Disetujui</span></td>
                <td><img src="chevron.svg" class="icon" alt="Detail" onclick="clickDirect('google.com')"></td>
            </tr>
            <tr>
                <td class="first">Cuti Tahunan</td>
                <td>2 Hari</td>
                <td>21 Mar 2022</td>
                <td><span class="status" id="failed">Ditolak</span></td>
                <td><img src="chevron.svg" class="icon" alt="Detail" onclick="clickDirect('google.com')"></td>
            </tr>
            <tr>
                <td class="first">Cuti Tahunan</td>
                <td>3 Hari</td>
                <td>21 Mar 2022</td>
                <td><span class="status" id="pending">Menunggu Persetujuan</span></td>
                <td><img src="chevron.svg" class="icon" alt="Detail" onclick="clickDirect('google.com')"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--TABLE COMPONENT-->
    <div class="table-responsive">
        <table class="table tabel">
            <thead>
            <tr>
                <!--            Masukkan table headers-->
                <th scope="col">Jenis Cuti</th>
                <th scope="col">Jumlah Hari Cuti</th>
                <th scope="col">Tanggal Pengajuan</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!-- kalo mau buat tabel yang bisa diklik ke halaman detail, tambahin:
                    1. class="direct"
                    2. onclick="clickDirect(url)"
                    3. copas fungsi clickDirect di halaman ini paling bawah ke HTML file yang sedang dikerjakan
            -->
            <tr class="direct" onclick="clickDirect('google.com')">
                <td class="first">Cuti Melahirkan</td>
                <td>3 Hari</td>
                <td>21 Mar 2022</td>
                <td><span class="status" id="success">Disetujui</span></td>
                <td><img src="chevron.svg" class="icon" alt="Detail" onclick="clickDirect('google.com')"></td>
            </tr>
            <tr>
                <td class="first">Cuti Tahunan</td>
                <td>2 Hari</td>
                <td>21 Mar 2022</td>
                <td><span class="status" id="failed">Ditolak</span></td>
                <td><img src="chevron.svg" class="icon" alt="Detail" onclick="clickDirect('google.com')"></td>
            </tr>
            <tr>
                <td class="first">Cuti Tahunan</td>
                <td>3 Hari</td>
                <td>21 Mar 2022</td>
                <td><span class="status" id="pending">Menunggu Persetujuan</span></td>
                <td><img src="chevron.svg" class="icon" alt="Detail" onclick="clickDirect('google.com')"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--PILL/STATUS COMPONENT
    type: tipe dari pill, bisa dipilih sesuai kebutuhan
    message: text yang mau ditampilin di pill tersebut -->
    <div class="pills" th:fragment="pill(type,message)">
        <span class="status" th:if="${type == 'success'}" id="success" th:text="${message}"></span>
        <span class="status" th:if="${type == 'failed'}" id="failed" th:text="${message}"></span>
        <span class="status" th:if="${type == 'pending'}" id="pending" th:text="${message}"></span>
        <span class="status" th:if="${type == 'download'}" id="download" onClick="clickDirect('')" th:text="${message}"></span>
        <span class="status" th:if="${type == 'neutral'}" id="neutral" th:text="${message}"></span>
    </div>

    <!--TABLE ICONS
    type: tipe dari icon, bisa dipilih sesuai kebutuhan
    url: url kalo ngeklik icon tersebut -->
    <div class="icons" th:fragment="icon(type,url)">
        <img th:if="${type == 'hapus'}" th:attr="onclick=|clickDirect('${url}')|"  th:src="@{/img/trash.svg}"  class="icon" alt="Hapus">
        <img th:if="${type == 'detail'}" th:attr="onclick=|clickDirect('${url}')|"  th:src="@{/img/chevron.svg}" class="icon" alt="Detail">
        <img th:if="${type == 'edit'}" th:attr="onclick=|clickDirect('${url}')|"  th:src="@{/img/edit.svg}" class="icon" alt="Edit">
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</div>
</body>
</html>
