@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,500,600,700");

.vector-arrow-outline {
    position: absolute;
    left: 20.83%;
    right: 50.01%;
    top: 66.7%;
    bottom: -25.04%;
}

.vector-arrow-colour {
    background: #002022;
    transform: rotate(-90deg);
}

.arrow-outline {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 982px;
    top: 48px;

    transform: rotate(-90deg);
}

.accordion-position {
    position: static;
    width: 1030px;
    height: 72px;
    left: 0px;
    top: 276px;
}

.accordion-colour {
    background: #FFFFFF;
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.accordion-in-auto-layout {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
    padding: 3px;
}

.accordion-font-question {
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    text-align: left;
    letter-spacing: 0.0035em;
    margin: 0 10px;
}

.accordion-font-answer {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    letter-spacing: 0.0035em;

    color: #000000;
    margin: 0 10px;
}

div.answer {
    position: relative;
    height: 100%;
    display: none;
}

div.answer.active {
    display: block;
}

.margin-acr {
    margin: 10px 0;
}

.font-label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.0035em;

    /* Neutral/Black 100 */

    color: #002022;
}

.slider:hover {
    cursor: pointer;
}

.naik:hover {
    cursor: pointer;
}

.turun:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.naik {
    display: none;
}

.turun {
    display: none;
}

.naik.active {
    display: block;
}

.turun.active {
    display: block;
}