@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,500,600,700");

.table-container {
    padding: 20px;
}

.berita-title {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #002022;
    margin-bottom: 0;
}

#berita-isi {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #002022;
    margin-top: 24px;
}

.actions {
    margin-top: 14px;
}

.actions:first-child{
    margin-right: 8px;
}

#first{
    margin-top: 0px;
}

.post button{
    margin-top: 4px;
    padding:0;
    color: #0136FE;
    border: none;
    cursor: pointer;
    background: white;
}

.hide{
    display: none;
}

textarea {
    height: 100px;
}
