@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,500,600,700");

.pageTitle{
    font-family: "Outfit", sans-serif;
    font-size: 36px;
    font-style: bold;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #002022;
}

body{
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin:0;
}

.content{
    /*background-color:#F8F9FE;*/
    margin:0;
    box-sizing: border-box;
}

.headSection {
    height: 100%;
    padding: 36px 48px 0px 48px;
}

.statusBox{
    border: 2px solid black;
}

.durasi{
    border: 2px solid black;
}

.detailContainer{
    margin: 2rem 3rem;
    box-shadow: 0px 0px 19px 3px #0000000D;
    border-radius: 0.5rem;
    padding: 24px;
    box-sizing: border-box;
}

.alasanTitle{
    font-family: "Outfit",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #66797A;
}

.alasanBody{
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0035em;
    text-align: left;
    color:#002022;
}

.alasanCuti{
    margin-top:20px;
}

.alasanCuti p{
    margin-bottom:0px;
}

.tolakTitle{
    font-family: "Outfit",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.0035em;
    text-align: left;
    color:#334D4E;
}

.subtitleProfile{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    text-align: left;
    color:#66797A;
}

.profileData{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    text-align: left;
    color:#002022;
    text-decoration: underline;
    cursor: pointer;
}

.alasanTolak{
    margin-bottom: 24px;
}

.batalPengajuan{
    color:#DD0028;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    margin-top: 16px;
    cursor: pointer;
}

.batalPengajuan:hover{
    color:#BB0022;
}

button:disabled{
    cursor:no-drop;
}

.submitBar{
    padding: 16px 48px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: inherit;
    border-top: #CCD2D3;
    box-shadow: 0px 0px 19px 3px #0000000D;
    box-sizing: border-box;
}

.mainContent{
    box-sizing: border-box;
}

.boxContent{
    z-index: 4;
}

.rowItem{
    margin-top: 36px;
}

label{
    font-family: "Outfit",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #002022;
    margin-bottom: 16px;
}

::placeholder{
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #99A6A7;
}

.form-check-label{
    cursor:pointer;
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    text-align: left;
}

.default{
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #334D4E;
    margin-top:8px;
}

.btn{
    font-family: "Outfit",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.0035em;
    text-align: center;
    background-color: #0136FE;
}

.page-selector-selected{
    font-size: 14px;
    font-weight: 700;
    font-family: "Outfit",sans-serif;
    background: #002022;
    border-radius: 38px;
    padding:8px 16px;
    color:white;
}

.page-selector{
    font-size: 14px;
    font-weight: 700;
    font-family: "Outfit",sans-serif;
    border-radius: 38px;
    padding:8px 16px;
    color:#002022;
    border: 2px solid #CCD2D3;
    cursor: pointer;
}

.page-selector:hover{
    background: #e3e3e3;
    font-size: 14px;
    font-weight: 700;
    font-family: "Outfit",sans-serif;
    border-radius: 38px;
    padding:8px 16px;
    color:#002022;
    border: 2px solid #CCD2D3;
    cursor: pointer;
}


/*input[type=radio]{*/
/*    height:24px;*/
/*    width:24px;*/
/*    vertical-align: middle;*/
/*    margin-right: 12px;*/
/*}*/

/*.inputdate{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    margin-bottom: 15px;*/

/*}*/

/*.icon{*/
/*    padding: 10px 8px;*/
/*    text-align: center;*/
/*}*/

/*.date{*/
/*    background: url('../img/calendar.svg') no-repeat scroll 588px 5px;*/
/*    padding-right:8px;*/
/*}*/
