.home {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 1000px;
}

.box-card {
    display: flex;
    height: fit-content;
    padding: 32px;
    flex-direction: column;
    box-shadow: 1px 5px 10px #00000025;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    padding: 32px;
    gap: 16px;
    background-color: white;
    align-items: center;
}

.padding-horizon {
    padding-left: 60px;
    padding-right: 60px;
}

.parent-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    justify-content: center;
    align-items: flex-start;
}

.card-1 {
    display: flex;
    box-sizing: border-box;
    max-width: 360px;
    background-color: #478978;
    box-shadow: 1px 5px 10px #00000025;
    border-radius: 10px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-1 {
    background-color: #478978 !important;
    border-color: #478978 !important;
}

.btn-2 {
    background-color: #84DCC6 !important;
    border-color: #84DCC6 !important;
}
.btn-3 {
    background-color: #C0C781 !important;
    border-color: #C0C781 !important;
    color: #0b2e13;
}

.divider{
    width:8px;
    height:auto;
    display:inline-block;
}
.card-2 {
    display: flex;
    box-sizing: border-box;
    max-width: 360px;
    background-color: #84DCC6;
    box-shadow: 1px 5px 10px #00000025;
    border-radius: 10px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a:link {
    text-decoration: none;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
}