@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Outfit");

.box-login {
    position: absolute;
    width: 600px;
    height: 465px;
    left: 383px;
    top: 132px;

    /* Neutral/White */

    background: #FFFFFF;
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.judul-SiOffice {
    /* Bold/H2 */

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 135%;
    /* identical to box height, or 65px */

    letter-spacing: 0.0035em;

    /* Neutral/Black 80 */

    color: #334D4E;
}

.font-input {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.0035em;
}