.bg-modal-approve {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position:fixed;
    overflow: hidden;
    top: 0;
    display: none;
}

.bg-modal-reject {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position:fixed;
    overflow: hidden;
    top: 0;
    display: none;
}

.confirm {
    width: 500px;
    height: 350px;
    background-color: white;
    margin:auto;
    position: relative;
    border-radius: 4px;

}

.confirm-parent {
    display: flex;
    height: fit-content;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding: 32px;
    gap: 16px;
    flex-direction: column;
}

.login-parent input {
    width: 100%;
}

.close-approve {
}
.close-reject {
}

.button-ijo {
    background-color: #3FB446;
    color: white;
    border-radius: 4px;
}
