@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,500,600,700");

.pageTitle{
    font-family: "Outfit", sans-serif;
    font-size: 36px;
    font-style: bold;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #002022;
}

body{
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin:0;
}

.content{
    /*background-color:#F8F9FE;*/
    margin:0;
    box-sizing: border-box;
}

.headSection {
    height: 100%;
    padding: 36px 48px 0px 48px;
}

.statusBox{
    border: 2px solid black;
}

.detailContainer{
    margin: 2rem 3rem;
    box-shadow: 0px 0px 19px 3px #0000000D;
    border-radius: 0.5rem;
    padding: 24px;
    box-sizing: border-box;
}

button:disabled{
    cursor:no-drop;
}

.submitBar{
    padding: 16px 48px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: inherit;
    border-top: #CCD2D3;
    box-shadow: 0px 0px 19px 3px #0000000D;
    box-sizing: border-box;
}

.mainContent{
    box-sizing: border-box;
}

.boxContent{
    z-index: 4;
}

.rowItem{
    margin-top: 36px;
}

label{
    font-family: "Outfit",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #002022;
    margin-bottom: 16px;
}

::placeholder{
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #99A6A7;
}

.form-check-label{
    cursor:pointer;
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    text-align: left;
}

.default{
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    text-align: left;
    color: #334D4E;
    margin-top:8px;
}

.btn{
    font-family: "Outfit",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.0035em;
    text-align: center;
    background-color: #0136FE;
}
