@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,500,600,700");

.p-3 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.0035em;
    color: #99A6A7;
}

#aktif {
    background: rgba(1, 54, 254, 0.1);
    font-weight: 700;
    color: #0136FE;
}