@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,500,600,700");


.status-box-colour {
    background: #F8F9FE;
    border-radius: 8px;
}

.margin-status {
    margin: 20px 0 6px 0
}

.font-status {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    letter-spacing: 0.0035em;
    text-transform: uppercase;

    color: #66797A;
}

.padding-contain-status-box {
    padding: 16px 16px;
}

.font-text {
    font-family: 'Outfit',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    /* or 32px */

    letter-spacing: 0.0035em;
}

#text-danger-colour {
    color: #FF7D00;
}

#text-success-colour {
    color: #00A460;
}

#text-failed-colour {
    color: #DD0028;
}

#text-neutral-colour {
    color: #334D4E;
}

.timeBox{
    padding-left: 0px;
}

.statBox{
    padding-right:0px;
}

.background-danger {
    background: #FFF2E6;
    border-radius: 4px;
}

.field-text-warning {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
    /* identical to box height, or 19px */

    letter-spacing: 0.0035em;
    color: #FF7D00;
}

.field-warning {
    display: none;
}

.field-warning.active {
    display: block;
}