@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@500&display=swap');

.font-P2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.0035em;

    /* Neutral/Black 80 */

    color: #334D4E;

}
.font-H5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    /* or 32px */

    letter-spacing: 0.0035em;
}

.font-H6 {
    /* Bold/H6 */
    margin-left: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    /* identical to box height, or 22px */

    display: flex;
    align-items: center;
    letter-spacing: 0.0035em;

}

.font-H7 {
    margin-left: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
    /* identical to box height, or 19px */

    letter-spacing: 0.0035em;

    /* Neutral/Black 60 */

    color: #66797A;

}
.btn-custom {
    color: #002022;
    background-color: #F0F0EE;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    color: #ffffff;
    background-color: #002022;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    background-color: #002022;
}
.btn-custom .badge {
    color: #BD1B77;
    background-color: #ffffff;
}


.font-input {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.0035em;
}
.input {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.0035em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0px 10px 8px;

    position: static;
    width: 982px;
    height: 40px;
    left: calc(50% - 982px/2);
    top: 24px;

    /* Neutral/White */

    background: #FFFFFF;
    /* Neutral/Black 20 */

    border: 1px solid #CCD2D3;
    box-sizing: border-box;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.box-profil1 {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    width: 450px;
    height: 265px;
    margin-left: 48px;

    background: #FFFFFF;
    /* Container Shadow */

    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

}

.box-profil2 {
    margin-top: 24px;
    font-family: 'Inter';
    width: 700px;
    height: 265px;
    left: 640px;
    margin-left: 48px;

    /* Neutral/White */

    background: #FFFFFF;
    /* Container Shadow */

    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.box-profil3 {
    width: 1200px;
    height: 463px;
    margin-top: 36px;
    margin-left: 48px;


    /* Neutral/White */

    background: #FFFFFF;
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.font-title-page {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 135%;

    letter-spacing: 0.0035em;

    color: #002022;
}

.button-submenu {

}