@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,500,600,700");

table thead th {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.0035em;
    text-align: left;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
     border-bottom: 1px solid #e9ecef;
}

table th,
table td {
    padding: 1rem;
    vertical-align: top;
     border-top: 1px solid #e9ecef;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
    color: #66797A;
    border-color: #e9ecef;
    background-color: #F6F9FC;
    text-align: center;
    border-radius: 0.5rem;
}

.table>:not(:last-child)>:last-child>*{
    border-bottom-color: #e9ecef;
}

table tbody tr{
    border-bottom: #F0F0EE;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0035em;
    color: #334D4E;
    align-items: center;
}

.direct:hover{
    background-color: #0000000A;
    cursor:pointer;
}

.first{
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.0035em;
    text-align: center;
    color:#002022;
}

.tabel>tbody>tr>td, .tabel>tbody>tr>th{
    padding: 1.25rem;
}

.tabel>tfoot>tr>td, .tabel>tfoot>tr>th, .tabel>thead>tr>td, .tabel>thead>tr>th {
    padding:0.75rem;
}

.status {
    font-family: "Outfit", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    padding: 0.25rem 0.75rem;
    border-radius: 2.25rem;
}

#success {
    color: #00A460;
    background: #00A4601A;
}

#pending {
    color: #FF7D00;
    background: #FF7D001A;
}

#failed {
    color: #DD0028;
    background: #DD00281A;
}

#download {
    color: #0136FE;
    background: #0136FE1A;
    cursor:pointer;
}

#neutral {
    color: #334D4E;
    background: #F0F0EE;
}

.icon:hover{
    cursor:pointer;
}

.table-container{
    margin: 2rem 3rem;
    box-shadow: 0px 0px 19px 3px #0000000D;
    border-radius: 0.5rem;
    padding-top: 20px;
}

.tableTitle{
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.0035em;
    text-align: left;
    color:#334D4E;
    margin: 0px 20px 20px 20px;
    font-weight: 700;
}

.table-responsive{
    margin-top:20px;
    margin-bottom: 0px;
}
